<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" id="viewport" content="width=1800,initial-scale=1.0,max-scale=1.0,user-scalable=0" />
<title>亚太墅装【官方网站】_别墅装修专家</title>
<meta name="description" content="亚太墅装，别墅装修真专家。是湖南乃至全国首个确定和树立墅装标准的装饰公司，力求成为别墅装修领域的领导品牌。" />
<meta name="keywords" content="亚太墅装,长沙别墅装修,长沙别墅公司,长沙别墅设计,长沙高端装修" /> 
<link rel="stylesheet" href="__PUBLIC__/home/css/swiper.css"> 
<!--<script src="__PUBLIC__/home/js/mobile.js" type="text/javascript"></script>-->
<link href="__PUBLIC__/home/css/style.css" type="text/css" rel="Stylesheet" />
<script src="__PUBLIC__/home/js/jquery.js" type="text/javascript"></script>
<script src="__PUBLIC__/home/js/jquery.cookies.js" type="text/javascript"></script>
<script src="__PUBLIC__/home/js/common.js" type="text/javascript"></script> 
<script src="__PUBLIC__/home/js/jQueryRotate.js" type="text/javascript"></script>
<script src="__PUBLIC__/home/js/swiper.js" type="text/javascript"></script>

</head>
<style type="text/css">
  body{
	 font-size:12px; font-family:微软雅黑,Arial; background-color:#f3f1ef; 
    }     
a.htitle:link{ color:#00352d; }
a.htitle:visited{ color:#00352d; }
a.htitle:hover{ color:#B90000;  }
a.htitle:active{ color:#B90000; }

div .abs {
    position: absolute;
}

</style>
<script type="text/javascript">
$(function () {
    do_case3(); 
    do_main3();
    do_main4();
    do_main5();
    do_main6();
    do_main7();
    initviewport();
})
function initviewport(){
	var viewport=document.getElementById("viewport");
	if(viewport){
	//	viewport.content="width=1800,initial-scale="+screen.width/1800+",max-scale="+screen.width/1800+",user-scalable=0";
	}
}

/*0_main3*/
var main3_interval=null;
function do_case3(){ 
	//案例和720度全景切换
	$('#case3 div .case_lab').click(function(){
		    $(this).addClass('case_lab_current').siblings().removeClass('case_lab_current');
		    $(".case_lab_sub").addClass('case_lab_sub_current');
		    $(this).find(".case_lab_sub").removeClass('case_lab_sub_current');   
	});
	$('#case3 div .case_lab').hover(function(){
		$(this).click();
	},function(){});
}
function do_main3(){
    
    //此类型案例的图层显示介绍文字
    $('.ul_anli_index2 #li-1').hover(function(){  
		//$(this).siblings().find(".hid2").hide(); 
		$(this).find(".hid2").show(); 
		 //图片放大
		var wValue=1.1 * $(this).find("a img").width(); 
		var hValue=1.1 * $(this).find("a img").height(); 
		$(this).find("a img").animate({width: wValue, 
		height: hValue, 
		left:("-"+(0.1 * $(this).find("a img").width())/2), 
		top:("-"+(0.1 * $(this).find("a img").height())/2)}, 500);  
	},function(){ 
	    $(this).find(".hid2").hide();
	    //图片缩小
	    $(this).find("a img").animate({width: "100%", 
	    height: "100%", 
	    left:"0px", 
	    top:"0px"}, 500 ); 
	});
	
    $('.ul_anli_index2 #li-2-div11').hover(function(){  
		$(this).siblings().find(".hid2").hide(); 
		$(this).find(".hid2").show(); 
		 //图片放大
		var wValue=1.1 * $(this).find("a img").width(); 
		var hValue=1.1 * $(this).find("a img").height(); 
		$(this).find("a img").animate({width: wValue, 
		height: hValue, 
		left:("-"+(0.1 * $(this).find("a img").width())/2), 
		top:("-"+(0.1 * $(this).find("a img").height())/2)}, 500);  
	},function(){ 
	    $(this).find(".hid2").hide();
	    //图片缩小
	    $(this).find("a img").animate({width: "100%", 
	    height: "100%", 
	    left:"0px", 
	    top:"0px"}, 500 ); 
	});
	
    $('.ul_anli_index2 #li-2-div12').hover(function(){  
		$(this).siblings().find(".hid2").hide(); 
		$(this).find(".hid2").show(); 
		 //图片放大
		var wValue=1.1 * $(this).find("a img").width(); 
		var hValue=1.1 * $(this).find("a img").height(); 
		$(this).find("a img").animate({width: wValue, 
		height: hValue, 
		left:("-"+(0.1 * $(this).find("a img").width())/2), 
		top:("-"+(0.1 * $(this).find("a img").height())/2)}, 500);  
	},function(){ 
	    $(this).find(".hid2").hide();
	    //图片缩小
	    $(this).find("a img").animate({width: "100%", 
	    height: "100%", 
	    left:"0px", 
	    top:"0px"}, 500 ); 
	});
	
    $('.ul_anli_index2 #li-2-div2').hover(function(){  
		$(this).siblings().find(".hid2").hide(); 
		$(this).find(".hid2").show(); 
		 //图片放大
		var wValue=1.1 * $(this).find("a img").width(); 
		var hValue=1.1 * $(this).find("a img").height(); 
		$(this).find("a img").animate({width: wValue, 
		height: hValue, 
		left:("-"+(0.1 * $(this).find("a img").width())/2), 
		top:("-"+(0.1 * $(this).find("a img").height())/2)}, 500);  
	},function(){ 
	    $(this).find(".hid2").hide();
	    //图片缩小
	    $(this).find("a img").animate({width: "100%", 
	    height: "100%", 
	    left:"0px", 
	    top:"0px"}, 500 ); 
	});
	
    $('.ul_anli_index2 #li-3').hover(function(){  
		//$(this).siblings().find(".hid2").hide(); 
		$(this).find(".hid2").show(); 
		 //图片放大
		var wValue=1.1 * $(this).find("a img").width(); 
		var hValue=1.1 * $(this).find("a img").height(); 
		$(this).find("a img").animate({width: wValue, 
		height: hValue, 
		left:("-"+(0.1 * $(this).find("a img").width())/2), 
		top:("-"+(0.1 * $(this).find("a img").height())/2)}, 500);  
	},function(){ 
	    $(this).find(".hid2").hide();
	    //图片缩小
	    $(this).find("a img").animate({width: "100%", 
	    height: "100%", 
	    left:"0px", 
	    top:"0px"}, 500 ); 
	});
	
//    $('#main3 .case_list .ul_anli_index li').hover(function(){  
//		$(this).siblings().find(".hid2").hide(); 
//		$(this).find(".hid2").show(); 
//		 //图片放大
//		var wValue=1.1 * $(this).find("a img").width(); 
//		var hValue=1.1 * $(this).find("a img").height(); 
//		$(this).find("a img").animate({width: wValue, 
//		height: hValue, 
//		left:("-"+(0.1 * $(this).find("a img").width())/2), 
//		top:("-"+(0.1 * $(this).find("a img").height())/2)}, 500);  
//	},function(){ 
//	    $(this).find(".hid2").hide();
//	    //图片缩小
//	    $(this).find("a img").animate({width: "100%", 
//	    height: "100%", 
//	    left:"0px", 
//	    top:"0px"}, 500 ); 
//	});
//	
//    $("#main3 .case_tyle div").eq(0).addClass("current");//默认第一个风格为当前样式
//    $("#main3 #case5 .case_list").hide().eq(0).show();
//    $("#main3").hover(function(){main3_interval0();},function(){main3_interval1();});//启动定时器0和定时器1
//    //一个风格选中
//    $("#main3 .case_tyle div").click(function(){
//      //  if($(this).is(".style1")){return false;}
//        var div=$("#main3 #case5 .case_list");
//        var idx=$(this).index();
//        div.hide().eq(idx).show();
//	//alert("div"+div.length);
//        $(this).addClass("current").siblings().removeClass("current");
//    }).hover(function(){$(this).click();},function(){});
  // main3_interval1(); 
}
function main3_interval0(){if(main3_interval!=null){clearInterval(main3_interval);}} //清除定时器
function main3_interval1(){main3_interval0();main3_interval=setInterval(main3_show,1000*5);} //设置定时器为5秒
//定时器触发更新当前风格
function main3_show(){
    var li=$("#main3 #case4 .case_tyle div");
    var length=li.length;
    var idx=li.filter(".current").index()+1;
//    alert("timeInt"+idx+"length"+length);
    if(idx>=length){idx=0;}
    li.eq(idx).click();
}
/*1_main3*/

/*0_main4*/
var main4_interval=null;
function do_main4(){
    //此类型案例的图层显示介绍文字 
    $('#main4 .shejishi_list .ul_shejishi_index li').find(".hid2").hide(); 
    $('#main4 .shejishi_list .ul_shejishi_index li').hover(function(){   
		$(this).siblings().find(".hid2").hide(); 
		$(this).find(".hid2").show(); 
		$(this).find("img").css("z-index","99");
		//$(this).addClass("current").css("background","url(/images/shejishi1/"+$(this).attr("key")+".jpg) #101010 90px 165px no-repeat").find("p.style3").show();
		 //图片放大
		var wValue=1.1 * $(this).find("a img").width(); 
		var hValue=1.1 * $(this).find("a img").height(); 
		$(this).find("a img").animate({width: wValue, 
		height: hValue, 
		left:("-"+(0.1 * $(this).find("a img").width())/2), 
		top:("-"+(0.1 * $(this).find("a img").height())/2)}, 500);  
		//放大阴影 
		var left=(0.1 * $(this).find("a img").width())/2;
		var top =(0.1 * $(this).find("a img").height())/2; 
		var nWidth = wValue-10; //偏移了10px需要减去
		$(this).find("a .hid2").animate({width: nWidth, 
		height: hValue, 
		"margin-left":("-"+left), 
		"margin-top":("-"+top)}, 100);  
//		$(this).find("a .hid2").css("width",nWidth); 
//		$(this).find("a .hid2").css("height",hValue); 
//		$(this).find("a .hid2").css("margin-left","-"+left+"px");
//		$(this).find("a .hid2").css("margin-top","-"+top+"px");
	},function(){ 
	    $('#main4 .shejishi_list .ul_shejishi_index li').find("img").css('z-index','10');
	    $(this).find(".hid2").hide(); 
//	    //缩小图片
	    $(this).find("a img").animate({width: "99.6%", 
	    height: "99.6%", 
	    left:"0px", 
	    top:"0px"}, 500 ); 
	    var wValue1=$(this).find("a .img").width(); 
	    var hValue1=$(this).find("a .img").height(); 
//	    //缩小阴影
		$(this).find("a .hid2").animate({width: wValue1, 
		height: hValue1, 
		"margin-left":"0px", 
		"margin-top":"0px"}, 100);  	    
//		$(this).find("a .hid2").css("width",wValue1); 
//		$(this).find("a .hid2").css("height",hValue1); 
//		$(this).find("a .hid2").css("margin-left","0px");
//		$(this).find("a .hid2").css("margin-top","0px"); 
	}); 
} 
/*1_main4*/


/*0_main4*/
var main5_interval=null;
function do_main5(){
    //此类型案例的图层显示介绍文字 
    $('#main5 .loupan_list .ul_loupan_index li').find(".hid2").hide(); 
    $('#main5 .loupan_list .ul_loupan_index li').hover(function(){   
		$(this).siblings().find(".hid2").hide(); 
		$(this).find(".hid2").show(); 
		$(this).find("img").css("z-index","99"); 
		 //图片放大
		var wValue=1.1 * $(this).find("a img").width(); 
		var hValue=1.1 * $(this).find("a img").height(); 
		$(this).find("a img").animate({width: wValue, 
		height: hValue, 
		left:("-"+(0.1 * $(this).find("a img").width())/2), 
		top:("-"+(0.1 * $(this).find("a img").height())/2)}, 500);   
	    //li shadow
//	        box-shadow: -1px 0 5px #999, /*left*/ 1px 0 5px #999, /*right*/ 0 -1px 5px #999, /*top*/ 0 1px 10px #999;
		$(this).addClass("li_bg");
//		$(this).css("box-shadow","-1px 0 5px #999, 1px 0 5px #999, 0 -1px 5px #999,0 1px 10px #999;");
//		$(this).css("background","#f3f1ef")
	},function(){ 
	    $('#main5 .loupan_list .ul_loupan_index li').find("img").css('z-index','10');
	    $(this).find(".hid2").hide(); 
//	    //缩小图片
	    $(this).find("a img").animate({width: "100%", 
	    height: "100%", 
	    left:"0px", 
	    top:"0px"}, 500 );  
	    $(this).removeClass("li_bg");
//		$(this).css("box-shadow","");
//		$(this).css("background","");
	}); 
} 
/*1_main4*/

/*0_main6*/
var main6_interval_rotate=null;
var num=0;
function do_main6(){ 
    $("#why5 .wh .p1 img").hover(function(){  
	$("#why5 .wh .p1 img").removeClass('current');
	$(this).addClass('current');
	main6_interval_rotate1();    
    },function(){main6_interval_rotate0();$("#why5 .wh img.current").css("transform","rotate(0deg)");})
}
function main6_interval_rotate0(){if(main6_interval_rotate!=null){clearInterval(main6_interval_rotate);num=0;}} //清除定时器
function main6_interval_rotate1(){main6_interval_rotate0();num=0;main6_interval_rotate=setInterval(pic_rotate,50*1);} //设置定时器为3秒
function pic_rotate(){ 
//    $("#why5 .wh img.current").html();
   // alert($("#why5 .wh img.current").parent().parent().html());
    num ++; 
    $("#why5 .wh img.current").rotate(15*num); //transform: rotate(0deg);
}
/*1_main6*/

/*0_main7*/
var main7_interval=null;
function do_main7(){
    //新闻、档案切换
    $('#news3 div .case_news').click(function(){
		$(this).addClass('case_news_current').siblings().removeClass('case_news_current');
		$(".case_news_sub").addClass('case_news_sub_current');
		$(this).find(".case_news_sub").removeClass('case_news_sub_current');
		
		var li=$("#main7 #news3 .case_news");
		var idx=li.filter(".case_news_current").index();
		var news_list =$("#news5 .news_list");  
		news_list.hide().eq(idx).show();
		var news_a =$("#news5 #news_more a");  
		news_a.hide().eq(idx).show();
	});
	$('#news3 div .case_news').hover(function(){
		$(this).click();
	},function(){}); 
} 
/*1_main7*/

</script>
<body class="p_index">
<!--{dede:include filename="header1.htm"/}-->
<?php echo htmlspecialchars($_SERVER['PHP_SELF']);?>
 
 
<div id="main8" style="width:100%;height: auto;margin-top: 0px; background-color: #00352d;"> 
    <ul> 
	<a href="/about/history.html"> <li>品牌故事</li></a>    	<li class="ft_fenge"> | </li>	
	<a href="/index.php/home/anli/"> <li> 别墅案例</li></a>	<li class="ft_fenge"> | </li>	
	<a href="/index.php/home/shejishi/"> <li> 设计团队</li></a>	<li class="ft_fenge"> | </li>
	<a href="/zhuanti/gongyi/"> <li> 别墅工艺</li></a>	<li class="ft_fenge"> | </li>
	<a href="/index.php/home/article/"> <li> 行业新闻</li></a>	<li class="ft_fenge"> | </li>
	<a href="/index.php/home/gongdi/"> <li> 别墅工地</li></a>	<li class="ft_fenge"> | </li>
	<a href="/zhuanti/yanjiuyuan/"> <li class="ft_yanjiuyuan"> 别墅研究院</li></a>	<li class="ft_fenge"> | </li>
	<a href="/about/contact.html"> <li> 联系我们</li></a> 
    </ul>
</div>   
    
<div id="footer"> 
    <div class="box2"><ul><li class="first">友情链接:<a href="http://www.dasn.com.cn/" target="_blank">点石家装</a>&nbsp;&nbsp;<a href="http://www.luoxijiaju.com/" target="_blank">罗西家具</a></li></ul></div>
    <div class="box3">
        <a href="#"><div class="box4"></div></a>
        <div class="box5">
            <p class="style1">点石亚太墅装 &copy;1998-2018 版权所有</p>
            <p>24小时免费咨询热线：400-048-0731</p>
            <p>备案：<a href="http://www.miibeian.gov.cn/" target="_blank">湘ICP备11020209号-2</a></p>
        </div> 
        <div class="box6">
	</div>
    </div>  
    <div class="qr">
	    <img src="__PUBLIC__/home/images/qr_yatai.png" style="width: 100%;"></img>  
    </div>
</div>
     
</body>
</html>   
<script src="/public/home/js/count.js" type="text/javascript"></script> 
<!--<script src="/public/home/js/footer.js" type="text/javascript"></script>-->