<div class="foot_box">
    <div class="copright_p">
        <div class="w990" style="margin-bottom: 20px;">
            <p>CopyRight &copy; 2000-2014 DriveWell Co,.Ltd, All Rights Reserved.  版权所有</p>
            <p>客服电话：400-048-0731 （周一至周日 8:30 &ndash; 00:00）</p>
            <p class="r"><span class="bei"><a href="#" target="_blank">经营性网站备案信息</a></span><span class="jing"><a href="#" target="_blank">警方提醒</a></span></p>
        </div>
    </div>
    <div class="link_a" style="display: none;">
        <div class="w990">
            <ul class="about">
                <li class="first"><a rel="nofollow" href="#" target="_blank">关于我们</a></li>
                <li><a rel="nofollow" href="#" target="_blank">业务体系</a></li>
                <li><a rel="nofollow" href="#" target="_blank">新闻动态</a></li>
                <li><a rel="nofollow" href="#" target="_blank">加入我们</a></li>
                <li><a rel="nofollow" href="#" target="_blank">联系我们</a></li>
            </ul>
        </div>
    </div>
</div>
<block name="foot_script"></block>