<div class="my_top990">
    <div class="my990">
        <div class="my_logo">
            <a href="{:U('Member/Index/Index')}">用户中心</a></div>
        <div class="my_text">
            <p >设计至美 生活至尚</p>
        </div>
        <div class="my_zhuti">
            <ul>
                <li><strong class="time"><a href="#"></a></strong></li>
                <li><strong class="infor"><a href="#"></a></strong></li>
                <li><strong class="style"><a href="#"></a></strong></li>
            </ul>
        </div>
    </div>
</div>