<title><block name="title_part"></block> - {:C('WEB_SITE_TITLE')}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />   
<link href="__STATIC__/member/css/css.css" rel="stylesheet" type="text/css" />
<link href="__STATIC__/member/css/index.css" rel="stylesheet" type="text/css" />
<link href="__STATIC__/toastr/toastr.min.css" rel="stylesheet" type="text/css" />
<link href="__STATIC__/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__STATIC__/jquery-2.0.3.min.js" ></script>
<script type="text/javascript" src="__STATIC__/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__STATIC__/toastr/toastr.min.js" ></script>
<script type="text/javascript" src="__STATIC__/validform/Validform.js" ></script>
<script type="text/javascript" src="__STATIC__/jquery.iframe-transport.js" ></script> 
<!-- 页面header钩子，一般用于加载插件CSS文件和代码 -->
{:hook('pageHeader')}