<extend name="Base/common" />
<block name="title_part">修改密码</block>
<block name="head_style">
    <link href="__STATIC__/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="__STATIC__/member/css/css.css" rel="stylesheet" type="text/css" />
</block>
<block name="body_content">
    <div class="mybox_page">
        <include file="Public/mymenu_box"/>
        <div class="homepage_box">
            <form class="login-form" action="__SELF__" method="post">
                <div class="line_mybox home_inforh">
                    <div class="my_title single_title">
                        <h3>修改密码</h3>
                    </div>
                    <div class="my_text">
                        <div class="form-item cf">
                            <label class="item-label">原密码<span class="check-tips">（输入原登录密码）</span></label>
                            <div class="controls">
                                <input type="password" class="text input-large" name="old" />                    
                            </div>
                            <label class="item-label">新密码<span class="check-tips">（输入新登录密码）</span></label>
                            <div class="controls">
                                <input type="password" class="text input-large" name="password" />                    
                            </div>
                            <label class="item-label">确认密码<span class="check-tips">（确认新登录密码）</span></label>
                            <div class="controls">
                                <input type="password" class="text input-large" name="repassword" />                    
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn submit-btn ajax-post" id="submit" type="submit">确 定</button>
                <a class="btn btn-return" href="javascript:history.go(-1);">返 回</a>
            </form>
        </div>
    </div>

</block>
<block name="foot_script">
    <script type="text/javascript">
        $(document)
                .ajaxStart(function () {
                    $("button:submit").addClass("log-in").attr("disabled", true);
                })
                .ajaxStop(function () {
                    $("button:submit").removeClass("log-in").attr("disabled", false);
                });

        $("form").submit(function () {
            var self = $(this);
            $.post(self.attr("action"), self.serialize(), success, "json");
            //return false;

            function success(data) {
                if (data.status) {
                toastr.success('修改成功，页面正在跳转，请稍候。', '温馨提示');
                if (data.url == '') {
                    data.url = "{:U('Member/User/changePassword')}";
                }
                setTimeout(function() {
                    window.location.href = data.url
                }, 10);
                } else {
                    toastr.error(data.info, '温馨提示');
                }
            }
        });
    </script>
</block>
