<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>我的小窝装修案例</title>
    <meta name="description" content="我的小窝装修案例" />
    <meta name="keywords" content="我的小窝装修案例" />
    <meta name="viewport" id="metaviewport" content="width=320,user-scalable=no" />
<meta name="MobileOptimized" content="240" />
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<link rel="apple-touch-icon-precomposed" href="/favicon.png" />
<link rel="stylesheet" href="/public/mob/css/style_oldyatai.css" />
<link href="/public/mob/css/flexslider_oldyatai.css" rel="stylesheet" />
<script src="/public/js/jquery.js"></script>
<script src="/public/js/jquery.flexslider.js"></script>
<script src="/public/mob/js/common_oldyatai.js"></script>
</head>
<script>
$(function () {
     
    init_param();
})
/*1 banner1*/
function init_param(){ 
}
//更新条件重新查询数据
function query_search(type,id){ 
    
    if(type=='1' || type=='2' || type=='3'){
	$("#query1_keyword").val("");
    }
    //异步重新查询数据:1风格，2居室；3设计师；5关键词；4加载更多
    if(type=='1' || type=='2' || type=='3' || type=='5'){
	page = 1; 
    } 
    //20170815修改为直接跳转，分页查询
    if(true){
	var turl ="http://"+document.domain+"/index.php/mob/anli/index/"; 
	var condition=""; 
	if($("#query1_keyword").val()!=""){
	    condition = condition + "keyword/"+$("#query1_keyword").val()+"/";
	}
	location.href=turl+condition;
    }
    return;  
    
}
</script>
<body class="p_list_anli"> 
<div id="header" class="box">
    <div class="div1" onclick="location.href='/'"><a href="/">&nbsp;</a></div>
    <div class="div2">
	&nbsp;
    </div>
    <div class="div3" onclick="location.href='/index.php/mob/other/search/'">
	<a href="#">&nbsp;</a>
    </div>
    <div class="div4" onclick="show_nav();">
	<a href="#">&nbsp;</a>
    </div>
</div>
    
<div id="guize" style="display: none;width:100%;height:100%;background:rgba(0,0,0,.8);position: fixed; z-index: 99999; top: 0; left: 0;text-align: center; ">
  <!--<p style="margin-top:50%;display:inline-block;font-size:30px;font-family:'微软雅黑';color:#fff;">游戏暂未开始<br>_(:з」∠)_</p>-->  
    <div id="navt" class="navt" style="display:block;width: 100%; height: 100%;">
<!--	<ul>
	    <li class="style1"><a href="{$xinxiliu_anli_url}{$tgurl}">
		    <div class="div1"><img src="/public/images/anli.png"></div>
		    <div class="div2">装修案例</div>	        </a></li>
	    <li class="style2"><a href="{$xinxiliu_baojia_url}{$tgurl}">
		    <div class="div1"><img src="/public/images/baojia.png"></div>
		    <div class="div2">设计团队</div>		</a></li>
	    <li class="style3"><a href="{$xinxiliu_act_url}{$tgurl}">
		    <div class="div1"><img src="/public/images/youhui.png"></div>
		    <div class="div2">施工管理</div>		</a></li>
	    <li class="style4"><a href="{$xinxiliu_wumian_url}{$tgurl}">
		    <div class="div1"><img src="/public/images/wumian.png"></div>
		    <div class="div2">别墅工艺</div>		</a></li>
	    <li class="style5"><a href="{$xinxiliu_gongyi_url}{$tgurl}">
		    <div class="div1"><img src="/public/images/oubiao.png"></div>
		    <div class="div2">欧标工艺</div>		</a></li>
	    <li class="style6"><a href="{$xinxiliu_720_url}{$tgurl2}">
		    <div class="div1"><img src="/public/images/quanjin.png" style="width: 70%;"></div>
		    <div class="div2">720°全景</div>		</a></li>
	    <li class="style7"><a href="{$xinxiliu_about_url}{$tgurl}">
		    <div class="div1"><img src="/public/images/dianshi.png"></div>
		    <div class="div2">关于点石</div>		</a></li> 
	</ul>-->

	<div id="area00" class="area" style="margin: 15% 0 0 0;">
	    <img src="/public/mob/images/home/nav.png" style="width:100%;height: 100%;">
	      <div class="box">
			    <a href="/index.php/mob/anli" class="hidetonbsp"><div class="div10"></div></a>
			    <a href="/index.php/mob/shejishi" class="hidetonbsp"><div class="div20"></div></a>
			    <a href="/index.php/mob/gongdi" class="hidetonbsp"><div class="div30"></div></a> 
			    <a href="/index.php/mob/zhuanti/gongyi" class="hidetonbsp"><div class="div40"></div></a>
	    </div>
	</div>
	<div class="div_close">
	    <div>
		<a href="javascript:close_nav();"><img src="/public/mob/images/tab_close.png"></a>
	    </div>	
	</div>
    </div>
</div> 
<script> 
function show_nav(){ 
//	alert($("#guize").css("display"));
    if($("#guize").css("display")=="block"){
	$("#guize").css("display","none");
    }else{
	$("#guize").css("display","block");
    }
}
function close_nav(){
    $("#guize").css("display","none");
}
</script>
    
    <div id="main" class="main">
        <div class="title"><div class="title2"><h1>搜索 {$keyword} 的结果</h1></div></div>
        <div id="search">
            <form action="/index.php/mob/other/search">
		<input type="hidden" name="kwtype" value="0">
		<input type="search" id="searchinput" name="keyword" value="搜索 &gt; 开启首席大宅装修之旅" onfocus="if (value == &#39;搜索 &gt; 开启首席大宅装修之旅&#39;) { value = &#39;&#39; }" onblur="    if (value == &#39;&#39;) { value = &#39;搜索 &gt; 开启首席大宅装修之旅&#39; }">
		<input type="submit" id="searchsubmit" value="搜索">
	    </form>
        </div>
        <ul class="ul ul3">
	    
		    <volist name="lists_data1" id="vo">
			<li key="{$vo.id}"> 
				<div class="thumb">				    
				    <if condition="$vo['picpath'] neq ''">     
					    <img src="{$vo.picpath}" width="50" height="50" alt="{$vo.dtitle}" />
					<elseif condition="$vo['litpic'] neq ''"/>      
					    <img src="{$vo.litpic}" width="50" height="50" alt="{$vo.dtitle}" />
					<else/>
				    </if>   
				</div>
				<h2><font color="red"></font>{$vo.dtitle}</h2>
				<p style=" text-overflow: ellipsis;  display: -webkit-box;   -webkit-line-clamp: 1;  -webkit-box-orient: vertical;">{$vo['description']}<span class="count"><i class="style1"></i><i class="style2"></i><i class="style3">07-19</i></span></p> 
				<p style=" text-overflow: ellipsis;  display: -webkit-box;   -webkit-line-clamp: 1;  -webkit-box-orient: vertical;">
				    <if condition="$vo['dloupan'] gt 0">
						<a href="/index.php/mob/Rzlp/detail/aid/{$vo.did}" target="_blank">查看详情<span>+</span></a>
					    <elseif condition="$vo['danli'] gt 0" />
						<a href="/index.php/mob/anli/detail/aid/{$vo.did}" target="_blank">查看详情<span>+</span></a> 
					    <elseif condition="$vo['dshejishi'] gt 0" />
						 <a href="/index.php/mob/shejishi/detail/aid/{$vo.did}" target="_blank">查看详情<span>+</span></a> 
					    <elseif condition="$vo['dgongdi'] gt 0" />
						 <a href="/index.php/mob/gongdi/detail/aid/{$vo.did}" target="_blank">查看详情<span>+</span></a> 
					    <elseif condition="$vo['darticle'] gt 0" />
						 <a href="/index.php/mob/news/detail/aid/{$vo.did}" target="_blank">查看详情<span>+</span></a> 
					    <else  /> 
						 <a href="#" target="_blank">查看详情<span>+</span></a> 
				    </if> 
				    <span class="count"><i class="style1"></i><i class="style2"></i><i class="style3">07-19</i></span></p> 
				
			     
			</li>
		    </volist>    
<!--            <li>
                <a href="http://myatai.dasn.com.cn/anli/1286.html">
                    <div class="thumb"><img src="./Other_files/2-1FG91605025L.jpg" width="50" height="50" alt="&lt;font color=&#39;red&#39;&gt;珠江&lt;/font&gt;郦城璞墅"></div>
                    <h2><font color="red">珠江</font>郦城璞墅</h2>
                    <p>...<span class="count"><i class="style1"></i><i class="style2"></i><i class="style3">07-19</i></span></p>
                </a>
            </li><li>
                <a href="http://myatai.dasn.com.cn/anli/1035.html">
                    <div class="thumb"><img src="./Other_files/2-16120914564I27.jpg" width="50" height="50" alt="&lt;font color=&#39;red&#39;&gt;珠江&lt;/font&gt;璞墅"></div>
                    <h2><font color="red">珠江</font>璞墅</h2>
                    <p>...<span class="count"><i class="style1"></i><i class="style2"></i><i class="style3">12-09</i></span></p>
                </a>
            </li>-->
        </ul>
    </div>

	<div class="page_home">
	    {$_page}
	</div>
    
<div id="footer" style="margin:0;margin-bottom: 0px;height:auto;">
    <p style="margin:0;">我的小窝</p>
    <p style="margin:0;">&copy;1998-2018 版权所有</p>
    <p style="margin:0;">备案：湘ICP备11020209号-2</p>
    <p style="margin:0;">24小时免费咨询热线：<a href="tel:4000480731"><span style="font-size: 20px;color: #324f4a;">400-048-0731</span></a></p>
</div>
<!--<div id="inav"><ul><li class="first"><a href="/baoming/">报名留言</a></li><li><a href="tel:400-048-0731">电话咨询</a></li><li><a href="javascript:void(0);">回到顶部</a></li></ul></div>-->

<div id="footerwg" class="box" style="display: block;z-index:2147483647;">
    <a href="/">
	<div class="div1 act1">  
	    <i style="" class="local_iconfont iconfont">&#xe605;</i>
	     <div class="ft_title" style="margin-top:5px;">首页</div>
	</div>
    </a>
    <a href="/index.php/mob/zhuanti/baojia/">
	<div class="div2 normal2">
	    <i style="" class="local_iconfont iconfont">&#xe604;</i>
	     <div class="ft_title" style="margin-top:5px;">报名留言</div>
	</div>
    </a>
    <a href="tel:400-048-0731">
	<div class="div3 normal3">
	    <i style="" class="local_iconfont iconfont">&#xe602;</i>
	    <div class="ft_title" style="margin-top:5px;">电话咨询</div> 
	</div>
    </a>
    <a href="/q/">
	<div class="div4 normal4">
	    <i style="" class="local_iconfont iconfont">&#xe603;</i>
	    <div class="ft_title" style="margin-top:5px;">在线咨询</div>		
	</div>
    </a>
</div>

</body>
</html>
<script src="/public/mob/js/footer.js" type="text/javascript"></script>  