
<div id="footerwg" class="box" style="display: block;z-index:2147483647;">
    <a href="/index.php/mob/">
	<div class="div1 act1">  
	    <i style="" class="local_iconfont iconfont">&#xe605;</i>
	     <div class="ft_title" style="margin-top:5px;">首页</div>
	</div>
    </a>
    <a href="/index.php/mob/zhuanti/baojia/">
	<div class="div2 normal2">
	    <i style="" class="local_iconfont iconfont">&#xe604;</i>
	     <div class="ft_title" style="margin-top:5px;">报名留言</div>
	</div>
    </a>
    <a href="tel:400-048-0731">
	<div class="div3 normal3">
	    <i style="" class="local_iconfont iconfont">&#xe602;</i>
	    <div class="ft_title" style="margin-top:5px;">电话咨询</div> 
	</div>
    </a>
    <a href="/q/">
	<div class="div4 normal4">
	    <i style="" class="local_iconfont iconfont">&#xe603;</i>
	    <div class="ft_title" style="margin-top:5px;">在线咨询</div>		
	</div>
    </a>
</div>