
<div>
    <!--swiper轮播-->
    <script>   
	$(function(){
	banner_swiper_m_new();
//	     //初始化banner轮播图 
//	    var mySwiper = new Swiper ('.swiper-container', { 
//	      autoplay: 3000,
//	      loop: true,
//
//	      // 如果需要分页器
//	      pagination: '.swiper-pagination',
//
//	      // 如果需要前进后退按钮
////		  nextButton: '.swiper-button-next',
////		  prevButton: '.swiper-button-prev',
//
//	      // 如果需要滚动条
////		  scrollbar: '.swiper-scrollbar',
//	    })
////	   if(result.banner1.length>0){
////		for(var item=0;item<result.banner1.length;item++){
////		    mySwiper.appendSlide('<div class="swiper-slide"><img alt="'+result.banner1[item].title+'" src="'+result.banner1[item].logo_url+'" style="width:100%;"></div>');
////		}
////	    }else{			
////	    }
//		mySwiper.appendSlide('<div class="swiper-slide"><a href="/zhuanti/leitaisai/"><img alt="First slide" src="http://m.dasn.com.cn/images/banner/leitaisai.jpg" style="width:100%;"></a></div>');
//		mySwiper.appendSlide('<div class="swiper-slide"><a href="/zhuanti/default/"><img alt="Second slide" src="http://mgy.dasn.com.cn/images/banner/default.jpg" style="width:100%;"></a></div>'); 
//		mySwiper.appendSlide('<div class="swiper-slide"><a href="/zhuanti/brand/"><img alt="First slide" src="http://m.dasn.com.cn/images/banner/brand.jpg" style="width:100%;"></a></div>');
	})
    </script>
    <div class="swiper-container" style="display:block">
	<div class="swiper-wrapper" id="banner_list">
<!--		    <div class="swiper-slide"><img alt="First slide" src="./index_zs01/banner01.png" style="width:100%;"></div>
	    <div class="swiper-slide"><img alt="Second slide" src="./index_zs01/banner01.png" style="width:100%;"></div>
	    <div class="swiper-slide"><img alt="Third slide" src="./index_zs01/banner01.png" style="width:100%;"></div>-->
	</div>
	<!-- 如果需要分页器 -->
	<div class="swiper-pagination"></div>

	<!-- 如果需要导航按钮 -->
<!--		<div class="swiper-button-prev"></div>
	<div class="swiper-button-next"></div>-->

	<!-- 如果需要滚动条 -->
	<!--<div class="swiper-scrollbar"></div>-->
    </div> 
</div>