<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$data_view.dtitle}|我的小窝{$ftitle}</title>
<meta name="keywords" content="{$data_view.dtitle}，长沙我的小窝，湖南家装领导者，中高档装修市场遥遥领先，我的小窝{$ftitle}" />
<meta name="description" content="{$data_view.dtitle}，长沙我的小窝，湖南家装领导者，中高档装修市场遥遥领先，我的小窝{$ftitle}" />
<link rel="stylesheet" href="__PUBLIC__/home/css/swiper.css"> 

<!--<script src="__PUBLIC__/home/js/mobile.js" type="text/javascript"></script>-->
<link href="__PUBLIC__/home/css/style.css" type="text/css" rel="Stylesheet" />
<script src="__PUBLIC__/home/js/jquery.js" type="text/javascript"></script>
<script src="__PUBLIC__/home/js/jquery.cookies.js" type="text/javascript"></script>
<script src="__PUBLIC__/home/js/common.js" type="text/javascript"></script>

<!--<script src="__PUBLIC__/home/images/jQueryRotate.js" type="text/javascript"></script>
<script src="__PUBLIC__/home/images/swiper.js" type="text/javascript"></script>-->
<style>

</style>

<script type="text/javascript">
$(function () {
    do_banner1();
    //alert(getQueryString('fengge')); 
     

})
/*0 banner1*/
function do_banner1(){ 
    //此类型新闻的图层显示介绍文字
    $('#banner1 ul li').hover(function(){  
		 //图片放大
		//先记录上是哪层div高度 
		var dValue=$(this).find("div").height(); 
		 $(this).find("div").css("height",dValue);
		 
		var wValue=1.1 * $(this).find("a img").width(); 
		var hValue=1.1 * $(this).find("a img").height(); 
		$(this).find("a img").animate({width: wValue, 
		height: hValue, 
		left:("-"+(0.1 * $(this).find("a img").width())/2), 
		top:("-"+(0.1 * $(this).find("a img").height())/2)}, 800);  
	},function(){ 
	    //图片缩小
	    $(this).find("a img").animate({width: "100%", 
	    height: "100%", 
	    left:"0px", 
	    top:"0px"}, 600 ); 
	});
}

function getQueryString(name) { 
var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i"); 
var r = window.location.search.substr(1).match(reg); 
if (r != null) return unescape(r[2]); return null; 
} 

</script>
</head>
<body class="p_list_anli">
    <?php include ("./Application/Home/View/default/Common/topnav.html"); ?> 
    <?php include ("./Application/Home/View/default/Common/header.html"); ?> 
    
<!--<div id="toppic" style="width:100%;height: auto;margin-top: 0px; background-color: #f5f6f6;"> 
    <img src="__PUBLIC__/home/images/banner/banner01.jpg" alt="我的小窝" width="100%"/>
</div>-->
<div>  
    
    <div id="main" class="main">
	<div id="position"  style="    width: 1200px;
    margin: 0 auto;
    display: block;
    padding: 0;
    float: none;margin-bottom: 20px;">
	    <div class="div1"> 您所在的位置：<a href='/' target="_blank" style="color:#999999;">首页</a>&gt; 
		<a href="/index.php/home/article/index/ftype/{$data_data['ftype']}" target="_blank" style="color:#999999;">{$ftitle}</a>
		&gt; <span style="color:#333333;">文章详情</span>
	    </div>
	</div> 
        <div id="abox">  
	</div>
	
	<div id="nbox1"  style="    width: 1200px;
    margin: 0 auto;
    display: block;
    padding: 0;
    float: none;margin-top: 20px;">			    
            <div id="newslist" style="display: inline-block;background: #fff;padding-top: 30px;margin-bottom:50px;">
              
                    <div class="ftitle"><span class="ftitle_fw">{$data_view.dtitle}</span></div>
		    <div class="title_sub" style="text-align: left;   font-size: 14px;  color: #999999; margin-left: 35px;margin-bottom: 55px;">
			阅读数：{$data_view['view']}&nbsp;&nbsp;&nbsp;&nbsp;时间：{$data_view['create_time']|date='Y-m-d H:i:s',###}&nbsp;&nbsp;&nbsp;&nbsp;来源：
			<if condition="$data_view['source'] neq ''">
				{$data_view.source}
			    <else/>
				我的小窝
			</if>
		    </div>
		    <hr style='border-top: solid 1px #e2dfdf;width: 100%;margin: 20px 0 20px 0%;display: none;'></hr>
                    <div class="edit_con_original" style="    margin:0 35px 0 35px;text-align: left;"> 
			{$data_data.content}
<!--                       不管你是一个酷爱艺术的文艺青年，还是一个推崇简约生活的时尚极客，亦或你是一位渴望自然浪漫的少女，或者是一位追求优雅内敛的绅士，在观湖国际260平方米
		       <a href="/case/index.html" target="_blank">大宅装修新闻</a>里，当充满艺术气息的图案印花与时尚悦动的色调完美融合的时候，这里一定是你的心仪之所，无关人的任何性格与喜好。
		        <h4>门厅</h4>                      
			<i></i>                
			<img src="/Upload/image/20170523/water/20170523180211_7199.jpg" title="观湖国际别墅现代门厅装修实景图" alt="观湖国际别墅现代门厅装修实景图" onerror="lod(this)"    /><p>&nbsp;</p>    
			观湖国际260平方米<a href="/index.html" target="_blank">大宅装修设计</a>，别具魅力的现代风格演绎，带您走进这质感优雅的空间氤氲着摩登现代的生活情调的别墅之家。首先步入门厅，映入眼帘的是耀眼的马赛克背景墙搭配造型雅致的玄关桌，从而彰显了整个居室的审美价值。<h4>客厅</h4>                        <i></i>                                             <img src="http://cdn.shangceng.com.cn/Upload/image/20170523/water/20170523180319_3191.jpg" title="观湖国际别墅现代客厅装修实景图" alt="观湖国际别墅现代客厅装修实景图" onerror="lod(this)"    /><p>&nbsp;</p>     
			<br />-->
                    </div> 
		    
		    <div style="width:100%;margin: 50px 0 35px 0px;display: inline-block;">
			<div style="width:60%;float: left;text-align: left;font-size: 16px;line-height: 22px;margin-left: 35px;overflow: hidden;">
			    <if condition="$data_pre['dtitle'] neq ''">
				<a href="/index.php/home/article/detail/aid/{$data_pre.id}" style="text-decoration:none;color:#666666;">
				    上一篇:{$data_pre.dtitle}	
				</a>
			    </if>
			    &nbsp;
			    <br>
			    <if condition="$data_next['dtitle'] neq ''">
				<a href="/index.php/home/article/detail/aid/{$data_next.id}" style="text-decoration:none;color:#666666;">
				    下一篇:{$data_next.dtitle}	
				</a>	
			    </if>
			    &nbsp;
			</div>
			<div style="width:27%;float: right;text-align: right;font-size: 16px;margin-top: 20px;">
			    <div style="width: 80px; display: inline-block;float: left;height: 28px;line-height: 28px;color: #5d5a5a;">立即分享：</div>
			    <div class="bdsharebuttonbox">   
				<a href="#" class="bds_more" data-cmd="more"></a>  
				<a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>  
				<a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>  
				<a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>  
				<a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>  
				<a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>  
			    </div>  
			    <script>  
				    window._bd_share_config={  
					    "common":{  
						"bdPopTitle":"您的自定义pop窗口标题",  
						"bdSnsKey":{},  
						"bdText":"此处填写自定义的分享内容",   
						"bdMini":"2",  
						"bdMiniList":false,  
						"bdPic":"http://localhost/centlight/public/attachment/201410/24/14/5449ef39574f5_282x220.jpg", /* 此处填写要分享图片地址 */  
						"bdStyle":"0",  
						"bdSize":"16"  
						},  
					    "share":{}  
				    };  
				    with(document)0[  
						    (getElementsByTagName('head')[0]||body).  
						    appendChild(createElement('script')).  
						    src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)  
				    ];  
				</script>  			    
			</div>
		    </div>
		    
		    <div style="width:100%;margin: 30px 0 0 0;">
		    </div> 
		    
		 
            </div>	
	    
	    <div id="newslist_r" style="">

		  <div style="color: #666666; font-size: 25px;font-family: '微软雅黑'; font-weight: 500;text-align: center;margin: 20px 0 0px 0;">
			 免费获取装修报价
		  </div>

		  <div style="margin: 10px 0 5px 8%; width: 92%; height: 40px; line-height: 40px;  display: inline-block;position: relative; float: left;">
			 <input type="text" placeholder="请输入您的姓名" id="txt_name3" name="txt_name3" style="height: 100%;width: 85%; padding-left: 5%;font-family: '微软雅黑'; font-size: 16px;border: solid 1px #e5e5e5;" />
		  </div>

		  <div style="margin: 10px 0 5px 8%; width: 92%; height: 40px; line-height: 40px;  display: inline-block;position: relative; float: left;">
			 <input type="text" placeholder="请输入您的手机号码" id="txt_tel3" name="txt_tel3" style="height: 100%;width: 85%; padding-left: 5%;font-family: '微软雅黑'; font-size: 16px;border: solid 1px #e5e5e5;" />
		  </div>
		  <div style="margin: 10px 0 5px 8%; width: 92%; height: 40px; line-height: 40px;  display: inline-block;position: relative; float: left;">
			 <input class="name" type="text" id="txt_mianji3" name="txt_mianji3" placeholder="请输入您的房屋面积" style="height: 100%; width: 85%; padding-left: 5%;font-family: '微软雅黑';font-size: 16px;border: solid 1px #e5e5e5;"/>
			 <div style="margin-left:-24px;width: 30px;position: absolute;float: right;font-size: 16px;color:#999999;display: inline-block;height: 46px;line-height: 46px;">㎡</div>
		  </div>

		  <div id="btn_submit3" style="cursor: pointer; margin: 10px 0 5px 24px;width: 84.5%;height: 42px;line-height: 40px;display: inline-block;background-color: #2E4F89;color: #fff;text-align: center;font-size: 16px;font-family: '微软雅黑';border-radius: 4px;">
			 获取报价
		  </div> 
		  <div style="color:#353637;font-size: 12px;font-family: '微软雅黑';text-align: center;margin: 10px 0 10px 0;">
			 ※我们会严格保护您的隐私请放心填写
		  </div>
	    </div>
	    
        </div>  
	   
	
    </div>
    <!--end main-->

   
<?php include ("./Application/Home/View/default/Common/bottomnav.html"); ?> 
<?php include ("./Application/Home/View/default/Common/footer.html"); ?> 
     
</body>
</html>   


<script type="text/javascript">
$(function(){
       
		//异步获取报名名额
//                baomingrenshuh();		
		var regex_number=/^\d{7}$|^\d{8}$|^\d{11}$|^\d{3,4}(-)?\d{7,8}$/;
		$("#btn_submit3").click(function(){
		    var obj=$(this);
		    var _name=$("#txt_name3");
		    var val_name=$.trim(_name.val());
		    if(val_name.length<=0){alert("温馨提示：请输入您的真实姓名！");_name.focus();_name.select();return false;}
		    var _tel=$("#txt_tel3");
		    var val_tel=$.trim(_tel.val());
		    if(!regex_number.test(val_tel)){alert("温馨提示：联系电话格式不正确！");_tel.focus();_tel.select();return false;}
		    var _loupan=$("#txt_loupan3");
		    var val_loupan=$.trim(_loupan.val());
		    //if(val_loupan.length<=0){alert("温馨提示：请输入您房子的楼盘名称！");_loupan.focus();_loupan.select();return false;}
		    var _mianji=$("#txt_mianji3");
		    var val_mianji=$.trim(_mianji.val());
	    //        if(val_mianji.length<=0){alert("温馨提示：请输入您房子的面积！");_mianji.focus();_mianji.select();return false;}
		    val_name=encodeURIComponent(val_name);
		    val_tel=encodeURIComponent(val_tel);
		    val_loupan=encodeURIComponent(val_loupan);
		    val_mianji=encodeURIComponent(val_mianji);
		    var val_content=encodeURIComponent("[来源页面："+document.title+"]");
		    var url=encodeURIComponent(location.href);
		    var sourceid=obj.attr("sourceid");
		    if(!sourceid){sourceid=2;}
		    window.open("http://i.dasn.com.cn/index.php/calltel/dooperate?name="+val_name+"&tel="+val_tel+"&loupan="+val_loupan+"&mianji="+val_mianji+"&content="+val_content+"&url="+url+"&sourceid="+sourceid);
		    _name.val("");
		    _tel.val("");
		    _loupan.val("");
		    _mianji.val("");
		    //setTimeout(baomingrenshu,1000*3);
		    return false;
		});
});
</script> 

<script src="__PUBLIC__/home/js/footer.js" type="text/javascript"></script>
<script src="/public/home/js/count.js" type="text/javascript"></script> 