<extend name="Base/Common"/>

<block name="body_content">
    <div class="mybox_page">
        <div class="mymenu_box">
            <div class="box_1">
                <div class="infor_head_box">
                    <div class="user_photo">

                        <a  href="{:U('Member/User/ChangeAvatar')}" title="chifar"  online="online">
                            <img src="{$current_user.avatar128_url}"  width="120"  height="120" alt="chifar" />
                        </a>

                    </div>
                    <dl>
                        <dt>{$current_user.nickname}</dt>
                        <dd>
                            <a href="{:U('Member/User/info')}" title="帐号设置">帐号设置</a>
                        </dd>
                    </dl>
                </div>
                <ul>
                    <li><span><em></em><a href="{:U('Member/Index/index')}">中心首页</a></span></li> 
                    <li class="current"><span><em></em><a href="{:U('Member/Index/mysheji')}">我的设计</a></span></li> 
		    <li><span><em></em><a href="{:U('Member/Index/myorder')}">服务记录</a></span></li>  
                    <li><span><em></em><a href="{:U('Member/User/password')}">安全中心</a></span></li>
                    <li><span><em></em><a href="{:U('Home/Index/index')}">返回首页</a></span></li>
                </ul>
            </div>
        </div>       
        <div class="homepage_box">       
            
        </div>
        <div class="clear">
        </div>
    </div>
</block>