<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>我的小窝_湖南点石装饰设计工程有限公司_湖南中高档装修领导者【官方网站】</title>
<meta name="description" content="湖南我的小窝专业从事家居装饰设计，家庭装修设计，装饰装修工程施工，室内设计服务。服务电话：400-048-0731" />
<meta name="keywords" content="长沙装修公司,长沙装饰公司,我的小窝,长沙我的小窝,长沙家装公司,长沙装饰设计,长沙室内装修,长沙别墅装修,长沙装修设计公司,湖南装修公司,长沙做的好的装修公司,长沙有哪些装修公司,长沙哪个装修公司好,长沙知名装修公司" />
<meta http-equiv="pragma" content="no-cache">
<meta name="viewport" id="viewport" content="width=480,initial-scale=1.0,max-scale=1.0,user-scalable=0" />
<link rel="stylesheet" href="/public/css/amazeui.min.css"/>
<link rel="stylesheet" href="/public/mob/css/style.css">
<link rel="stylesheet" href="/public/css/swiper.css"> 
<script src="/public/js/jquery.min.js"></script>
<!--<script src="/public/js/jquery.min.js"></script>-->
<script src="/public/js/swiper.js"></script>
<script src="/public/mob/js/common.js" type="text/javascript"></script>
<style> 
    #area00 .box{ margin: -149px 0 0 0; height: 149px;overflow: hidden;}
    #area00 .div10{ margin: 0px 0 0 0px; width: 25%; height: 100%;display: inline-block; float: left;  position: relative;  }
    #area00 .div20{ margin: 0px 0 0 0px; width: 25%; height: 100%;display: inline-block; float: left;  position: relative;   } 
    #area00 .div30{ margin: 0px 0 0 0px; width: 25%; height: 100%;display: inline-block; float: left;  position: relative;   }
    #area00 .div40{ margin: 0px 0 0 0px; width: 25%; height: 100%;display: inline-block; float: left;  position: relative;   }
    
    #area3 .box{ margin: -149px 0 0 0; height: 149px;overflow: hidden;}
    #area3 .div10{ margin: 0px 0 0 0px; width: 25%; height: 100%;display: inline-block; float: left;  position: relative;  }
    #area3 .div20{ margin: 0px 0 0 0px; width: 25%; height: 100%;display: inline-block; float: left;  position: relative;   } 
    #area3 .div30{ margin: 0px 0 0 0px; width: 25%; height: 100%;display: inline-block; float: left;  position: relative;   }
    #area3 .div40{ margin: 0px 0 0 0px; width: 25%; height: 100%;display: inline-block; float: left;  position: relative;   }
     
/*    .area .common1{ width:76%; height:48px; }
    .area .common1 input{ position:absolute; padding:0 5px; width:100%; height:48px; line-height:42px; border:none; color:#000; background:none; font-size:18px; }

    #area6 .box {margin: -265px 0 0 0;height: 265px;overflow: hidden;}
    #area6 .div1{ margin:20px 0 0 85px; }
    #area6 .div2{ margin:25px 0 0 85px; }
    #area6 .div3{ margin:25px 0 0 85px; }
    #area6 .div4{ margin:25px 0 0 85px; }
    #area6 .div5{ margin:48px 0 0 30px; width:425px; height:48px; }
    #area6 .div5 button{ width:425px; height:48px; border:none; background:none; cursor:pointer; }*/
    
.area .common1{ width:76%; height:48px; }
.area .common1 input{ /*position:absolute;*/ padding:0 5px; width:100%; height:48px; line-height:42px; border:none; color:#000; background:none; font-size:18px; }

#area6 .box {margin: -160px 0 0 0;height: 160px;overflow: hidden;}
#area6 .div1{ margin:20px 0 0 85px; }
#area6 .div2{ margin:25px 0 0 85px; }
#area7 .box {margin: -160px 0 0 0;height: 160px;overflow: hidden;}
#area7 .div3{ margin:15px 0 0 85px; }
#area7 .div4{  margin:26px 0 0 85px; }
#area8 .box {margin: -82px 0 0 0;height: 80px;overflow: hidden;}
#area8 .div5{ margin:21px 0 0 26px; width:425px; height:48px; }
#area8 .div5 button{ width:425px; height:48px; border:none; background:none; cursor:pointer; }

    
    
    .div_ct{
	width: 25%;
	display: inline-block;
	float: left;
	text-align: center;
	background: #c3956b;
    }
    .div_ct1{
	width: 25%;
	display: inline-block;
	float: left;
	text-align: center; 
    }
    .div_case .cur{
	background: #324f4a;
    }
</style>
<script>
    $(function(){
	init_case();
    })
    
    function init_case(){
	$(".div_case .div_ct").click(function(){
	    var index= $(this).index(); 
	    $(".div_case .div_ct").removeClass("cur");
	    $(this).addClass("cur");
	    $(".div_case2 img").css("display","none").eq(index).css("display","inline-block");
	    $(".div_case3 img").css("display","none").eq(index).css("display","inline-block");
	    
	})
    }
</script>
</head> 
<body>

<?php include ("./Application/Mob/View/default/Common/header.html"); ?> 
<?php include ("./Application/Mob/View/default/Common/hbanner.html"); ?> 

<style>
    #citysdz{border: solid 0px #999; line-height: 75px; height: 75px;
		    min-width: 95px; background-color: #fff; 
		    -webkit-appearance:none;
		    appearance:none;
		    outline:none;
		    -webkit-tap-highlight-color:rgba(0,0,0,0);
		    background-image: url(/public/images/logo_down2.png);
		    background-repeat: no-repeat;
		    background-position: 100% 40%;}
</style>

    
    
<div id="navw" class="boxw">
    <ul>
	<li class="style1"><a href="/index.php/mob/about/history.html">
		<div class="div1"><img src="/public/images/dianshi.png"></div>
		<div class="div2">品牌故事</div>	        </a></li>
	<li class="style2"><a href="/index.php/mob/anli/">
		<div class="div1"><img src="/public/images/baojia.png"></div>
		<div class="div2">装修案例</div>		</a></li>
	<li class="style3"><a href="/index.php/mob/shejishi/">
		<div class="div1"><img src="/public/images/tuandui.png"></div>
		<div class="div2">设计团队</div>		</a></li>
	<li class="style4"><a href="/index.php/mob/zhuanti/gongyi/">
		<div class="div1"><img src="/public/images/oubiao.png"></div>
		<div class="div2">欧标工艺</div>		</a></li>
	<li class="style5"><a href="/index.php/mob/zhuanti/brand/">
		<div class="div1"><img src="/public/images/wumian.png"></div>
		<div class="div2">五免服务</div>		</a></li>
	<li class="style6"><a href="/indep/quanjin/index.php?i=2">
		<div class="div1"><img src="/public/images/quanjin.png" style="width: 70%;"></div>
		<div class="div2">720°全景</div>		</a></li>
	<li class="style7"><a href="/index.php/mob/news/index/ftype/6">
		<div class="div1"><img src="/public/images/gongdi.png"></div>
		<div class="div2">工地报道</div></a></li>
	<li class="style8"><a href="/index.php/mob/news/index/ftype/4">
		<div class="div1"><img src="/public/images/zhishi.png"></div>
		<div class="div2">点石新闻</div></a></li>
    </ul>
</div>

     
<div style="display:none;">
    <div>
	<img src="/public/mob/images/home/nav_case.png" style="width:100%;height: 100%;"> 
    </div>
</div>

<div class="divbj">
    <div class="bj0" style="border-top: solid 1px #D8D6D6;  border-bottom: solid 1px #D8D6D6; padding: 0px 0 0px 0; margin: 15px 0 15px 0;  display: inline-block;  width: 100%;">
	<a href="/index.php/mob/zhuanti/baojia/" style="text-decoration:none;">
	    <div class="bj1" style="width: 52%;  border-right: solid 1px #D8D6D6; float: left; padding: 10px 0 10px 15px;">
		<div class="bj1_1" style="line-height: 30px;  font-size: 20px;font-family: 微软雅黑;">免费报价&nbsp;&nbsp; <img src="/public/images/logo_hot.png" style="margin-top: -8px;"></div>
		<div class="bj1_2" style="line-height: 32px;height: 32px;  font-size: 16px; color: #999;overflow: hidden;">了解在长沙装修花多少钱</div>
		<div class="bj1_3"> <img src="/public/images/mianfeibaojia.png" style="width:80%;"></div>
	    </div>	    
	</a>
	<div class="bj2" style="width: 48%; float: left;">
	    <a href="/zhuanti/baojiazxfq/" style="text-decoration:none;">
		<div class="bj2_1" style="border-bottom: solid 1px #D8D6D6; padding: 10px 0 8px 15px;">
		    <div class="bj1_1_1" style="line-height: 30px;  font-size: 20px; font-family: 微软雅黑;">装修分期&nbsp;&nbsp; <img src="/public/images/logo_mianxi.png" style="margin-top: -8px;"></div>
		    <div class="bj1_1_2" style="line-height: 28px;  font-size: 16px; color: #999;">你装修  我付款</div>
		</div>
	    </a>
	    <a href="javascript:f_baoming();" style="text-decoration:none;">
		<div class="bj2_2" style="padding: 10px 0 8px 15px;">
		    <div class="bj2_2_1" style="line-height: 30px;height: 30px;	 font-size: 20px; font-family: 微软雅黑;">装修报名&nbsp;&nbsp; <img src="/public/images/logo_mianfei.png" style="margin-top: -8px;"></div>
		    <div class="bj2_2_2" style="line-height: 28px;height: 28px;  font-size: 16px; color: #999;overflow: hidden;">报名即刻尊享真爱五免服务</div>
		</div>
	    </a>
	</div>
    </div>
</div>

<div class="area" id="area6">
    <img src="/public/images/mhbj_01.jpg" style="width:100%;height: 100%;"> 
    	<div class="box">
		<div class="common1 div1"><input type="text" id="txt_name"  placeholder="请输入您的姓名"/></div>
		<div class="common1 div2"><input type="text" id="txt_mianji"  placeholder="请输入您的房屋面积"></div> 
	</div>
</div> 
<div class="area" id="area7">
    <img src="/public/images/mhbj_02.jpg" style="width:100%;height: 100%;"> 
    	<div class="box">
		<div class="common1 div3"><input type="text" id="txt_loupan"  placeholder="请输入楼盘名称"/></div>
		<div class="common1 div4"><input type="text" id="txt_tel"  placeholder="请输入您的电话"/></div> 
	</div>
</div> 
<div class="area" id="area8" style="margin-bottom:15px;">
    <img src="/public/images/mhbj_03.jpg" style="width:100%;height: 100%;"> 
    	<div class="box">
		<div class="div5"><button id="btn_submit"></button></div>
	</div>
</div> 

<div class="divanli">
	<a href="javascript:void(0);"><div class="fl">装修案例</div></a>
	<a href="/index.php/mob/anli/"><div class="fr">更多<img src="/public/images/tab_right.png" style="margin-top: -4px; width: 24px;"></div></a>
</div>

<div class="divlist">
    <div>
	<ul style="padding:0;" id="case_ul">
	    <volist name="lists_anli1" id="avo">
		<li>
		    <div class="li_div">
			<a href="/index.php/mob/anli/detail/aid/{$avo.id}">
			<div><img src="{$avo.picpath}" alt="{$avo.dtitle}装修案例"></div>
			<div style="margin: 4% 0 2% 0;text-align: center;display: inline-block; width: 100%;">
			    <span style=" width: 50%;float: left; text-align: center;font-size: 14px;  font-family: 微软雅黑; padding-left: 4px; overflow: hidden;line-height: 22px; max-height: 44px;"> {$avo.mianji}平/{$avo.fenggename}</span>
			    <span style=" width: 50%; float: right; font-size: 14px;  font-family: 微软雅黑; padding-right: 4px;text-align: right; overflow: hidden;line-height: 22px; max-height: 44px;">{$avo.dtitle}</span>
			</div>
			</a>
		   </div>
		</li>
	    </volist>
<!--		<li>
		    <div class="li_div">
			<a href="/anli/1066.html">
			<div><img src="http://www.dasn.com.cn/uploads/160324/3-160324151331521.jpg" alt="锦绣世家装修案例"></div>
			<div style="margin: 4% 0 2% 0;text-align: center;display: inline-block; width: 100%;">
			    <span style=" width: 50%;float: left; text-align: center;font-size: 14px;  font-family: 微软雅黑; padding-left: 4px; overflow: hidden;line-height: 22px; max-height: 44px;"> 147平/中式</span>
			    <span style=" width: 50%; float: right; font-size: 14px;  font-family: 微软雅黑; padding-right: 4px;text-align: right; overflow: hidden;line-height: 22px; max-height: 44px;">锦绣世家</span>
			</div>
			</a>
		   </div>
		</li><li>
		    <div class="li_div">
			<a href="/anli/1054.html">
			<div><img src="http://www.dasn.com.cn/uploads/160313/3-1603131A932447.jpg" alt="燕兴华城装修案例"></div>
			<div style="margin: 4% 0 2% 0;text-align: center;display: inline-block; width: 100%;">
			    <span style=" width: 50%;float: left; text-align: center;font-size: 14px;  font-family: 微软雅黑; padding-left: 4px; overflow: hidden;line-height: 22px; max-height: 44px;"> 140平/中式</span>
			    <span style=" width: 50%; float: right; font-size: 14px;  font-family: 微软雅黑; padding-right: 4px;text-align: right; overflow: hidden;line-height: 22px; max-height: 44px;">燕兴华城</span>
			</div>
			</a>
		   </div>
		</li><li>
		    <div class="li_div">
			<a href="/anli/1034.html">
			<div><img src="http://www.dasn.com.cn/uploads/160303/3-160303111430525.jpg" alt="尊城水岸装修案例"></div>
			<div style="margin: 4% 0 2% 0;text-align: center;display: inline-block; width: 100%;">
			    <span style=" width: 50%;float: left; text-align: center;font-size: 14px;  font-family: 微软雅黑; padding-left: 4px; overflow: hidden;line-height: 22px; max-height: 44px;"> 120平/中式</span>
			    <span style=" width: 50%; float: right; font-size: 14px;  font-family: 微软雅黑; padding-right: 4px;text-align: right; overflow: hidden;line-height: 22px; max-height: 44px;">尊城水岸</span>
			</div>
			</a>
		   </div>
		</li><li>
		    <div class="li_div">
			<a href="/anli/1032.html">
			<div><img src="http://www.dasn.com.cn/uploads/160303/3-160303111020230.jpg" alt="励志城邦装修案例"></div>
			<div style="margin: 4% 0 2% 0;text-align: center;display: inline-block; width: 100%;">
			    <span style=" width: 50%;float: left; text-align: center;font-size: 14px;  font-family: 微软雅黑; padding-left: 4px; overflow: hidden;line-height: 22px; max-height: 44px;"> 120平/中式</span>
			    <span style=" width: 50%; float: right; font-size: 14px;  font-family: 微软雅黑; padding-right: 4px;text-align: right; overflow: hidden;line-height: 22px; max-height: 44px;">励志城邦</span>
			</div>
			</a>
		   </div>
		</li>  -->
	</ul>
    </div>
</div>



    <style>
    .iVRWrap{}
    .iVRWrap .indexTit{padding-top:120px}
    .vr_img_box{overflow:hidden}
    .vr_img_left_box{width:100%;height:290px;position:relative;margin:0 0 12px 0}
    .vr_img_left_img{width:100%;height:290px;position:relative}
    #container-img-1 .psv-canvas{width: 100%;height: 290px;} 
    .vr_img_right_box{}
    .psv-hud{cursor:pointer !important}
    .vr_img_bottom{float:left;width:32%;height:250px;position:relative;margin:0 2% 12px 0}
    .container-img{width:100%;height:250px;position:relative}
    .vr_state_img{display:block;width:120px;height:35px;position:absolute;top:30px;right:30px}
    .vr_case_summery{z-index:21;text-align:center;width:100%;background:rgba(0,0,0,0.5);bottom:0;left:0;position:absolute;line-height:40px;font-size:16px;color:#fff;transition:height 0.5s;-moz-transition:height 0.5s;-webkit-transition:height 0.5s;-o-transition:height 0.5s}
    .vr_img_bottom_right{overflow:hidden;margin-right:0}
    .vr_link{display:block;color:#fff}
    .vr_link span{padding:0 5px}
    .iVRWrap .iView{margin-top:20px} 
    .iVRWrap span em{font-style: normal;}  
     </style>
<link rel="stylesheet" type="text/css" href="/Public/css/photo-sphere-viewer.min.css">
<script type="text/javascript" src="/Public/js/three.min.js"></script>
<script type="text/javascript" src="/Public/js/D.min.js"></script>
<script type="text/javascript" src="/Public/js/doT.min.js"></script>
<script type="text/javascript" src="/Public/js/uevent.min.js"></script>
<script type="text/javascript" src="/Public/js/photo-sphere-viewer.min.js"></script>

<div class="divanli" style=" margin: 0 0 5% 0%;">
	<a href="javascript:void(0);"><div class="fl">VR设计</div></a>
	<a href="/indep/quanjin/index.php?i=2"><div class="fr">更多<img src="/public/images/tab_right.png" style="margin-top: -4px; width: 24px;"></div></a>
</div>
<div class="divanli iVRWrap" style="background:#fff;line-height: 0px;height: auto;">  
    <div class="vr_img_box" style="display:block;">
	<div class="vr_img_left_box">
	   <div class="vr_img_left_img" id="container-img-1">
	       <div class="psv-container" style="position: absolute;">
		   <div class="psv-loader-container" style="display: none;">
		       <div class="psv-loader">
			   <canvas class="psv-loader-canvas" width="150" height="150"></canvas>
			   <div class="psv-loader-text" style="max-width: 99px; max-height: 99px;">Loading...</div>				
		       </div>				    
		   </div>
		   <div class="psv-navbar psv-navbar--open" style="display: none;"></div>
		   <div class="psv-hud" style="cursor: move;">
		       <svg class="psv-hud-svg-container"></svg>
		       <div class="psv-tooltip" style="top: -1000px; left: -1000px;">
			   <div class="psv-tooltip-arrow"></div>
			   <div class="psv-tooltip-content"></div>				    
		       </div>			    
		   </div>
		   <div class="psv-panel">
		       <div class="psv-panel-resizer"></div>
		       <div class="psv-panel-close-button"></div>
		       <div class="psv-panel-content"></div>			    
		   </div>
		   <div class="psv-canvas-container" style="opacity: 1;">
		       <canvas class="psv-canvas" style="width: 100%;"></canvas>
		   </div>
	       </div>
	   </div>
	   <img class="vr_state_img" src="__PUBLIC__/home/images/720/vr_active_play.png">
	   <div class="vr_case_summery height1" style="z-index:1">
	       <span>自建别墅<em>&nbsp;|&nbsp;260㎡</em><em>&nbsp;|&nbsp;地中海</em></span>
	   </div>
       </div>
    </div>
	<div class="vr_img_left_box" style="display:none;">
	   <div class="vr_img_left_img" id="container-img-2">
	       <div class="psv-container" style="position: absolute;">
		   <div class="psv-loader-container" style="display: none;">
		       <div class="psv-loader">
			   <canvas class="psv-loader-canvas" width="150" height="150"></canvas>
			   <div class="psv-loader-text" style="max-width: 99px; max-height: 99px;">Loading...</div>				
		       </div>				    
		   </div>
		   <div class="psv-navbar psv-navbar--open" style="display: none;"></div>
		   <div class="psv-hud" style="cursor: move;">
		       <svg class="psv-hud-svg-container"></svg>
		       <div class="psv-tooltip" style="top: -1000px; left: -1000px;">
			   <div class="psv-tooltip-arrow"></div>
			   <div class="psv-tooltip-content"></div>				    
		       </div>			    
		   </div>
		   <div class="psv-panel">
		       <div class="psv-panel-resizer"></div>
		       <div class="psv-panel-close-button"></div>
		       <div class="psv-panel-content"></div>			    
		   </div>
		   <div class="psv-canvas-container" style="opacity: 1;">
		       <canvas class="psv-canvas" style="width: 100%;"></canvas>
		   </div>
	       </div>
	   </div>
	   <img class="vr_state_img" src="__PUBLIC__/home/images/720/vr_active_play.png">
	   <div class="vr_case_summery height1" style="z-index:1">
	       <span>润和紫郡<em>&nbsp;|&nbsp;150㎡</em><em>&nbsp;|&nbsp;新中式</em></span>
	   </div>
       </div>
</div>
<script>
$(function(){
	//全景图上
    try {
        var viewer1 = PhotoSphereViewer({
            container:'container-img-1',
            panorama:'/Public/home/images/720/dsvr01.jpg',
            autoload:true,
            allow_scroll_to_zoom:false,
            navbar:false,
            allow_user_interactions:false,
			//min_fov:90,
			//max_fov:90,
            anim_speed:'1rpm'
        });
        var viewer2 = PhotoSphereViewer({
            container:'container-img-2',
            panorama:'/Public/home/images/720/dsvr02.png',
            autoload:true,
            allow_scroll_to_zoom:false,
            navbar:false,
            allow_user_interactions:false,
			//min_fov:90,
			//max_fov:90,
            anim_speed:'1rpm'
        });
        viewer2.on('ready',function(){
           // viewer2.stopAutorotate();
        })
        $('.vr_img_bottom_2').hover(function(){
           // viewer2.startAutorotate();
        },function(){
           // viewer2.stopAutorotate();
        })
        //全景图下中
        var viewer3 = PhotoSphereViewer({
            container:'container-img-3',
            panorama:'/Public/home/images/720/dsvr03.jpg',
            autoload:true,
            navbar:false,
            allow_scroll_to_zoom:false,
            allow_user_interactions:false,
			//min_fov:90,
			//max_fov:90
        }); 
        //全景图下右
        var viewer4 = PhotoSphereViewer({
            container:'container-img-4',
            panorama:'/Public/home/images/720/dsvr04.jpg',
            autoload:true,
            navbar:false,
            allow_scroll_to_zoom:false,
            allow_user_interactions:false,
			//min_fov:90,
			//max_fov:90
        });	
	
    }catch (e){
        console.log('no support ie');
        $('#container-img-1').css({
            backgroundColor:'rgba(15,150,8,0.5)',
            backgroundSize:'cover',
            backgroundPosition:'center center'
        }) 
        $('#container-img-2').css({
            backgroundColor:'rgba(15,150,8,0.5)',
            backgroundSize:'cover',
            backgroundPosition:'center center'
        })
        $('#container-img-3').css({
            backgroundColor:'rgba(15,150,8,0.5)',
            backgroundSize:'cover',
            backgroundPosition:'center center'
        })
        $('#container-img-4').css({
            backgroundColor:'rgba(15,150,8,0.5)',
            backgroundSize:'cover',
            backgroundPosition:'center center'
        })
    }    
});
</script>
  
    
<div class="divanli" style="margin-top:5%;">
	<a href="javascript:void(0);"><div class="fl">设计师</div></a>
	<a href="/index.php/mob/shejishi/"><div class="fr">更多<img src="/public/images/tab_right.png" style="margin-top: -4px; width: 24px;"></div></a>
</div>

<div class="divlist_shejishi">
    <div>
	<ul style="padding:0;" id="shejishi_ul">
	     <volist name="lists_shejishi1" id="svo"> 
		<li>
		    <div class="li_div">
			<a href="/index.php/mob/shejishi/detail/aid/{$svo.id}">
			<div>
			    <img src="{$svo.picpath}" alt="{$svo.dtitle}设计师">
			    <div class="shid2"></div>
			    <div class="shid1">
				<span class="span1">{$svo.dtitle}</span>
				<span class="span2">{$svo.rankname}</span>
			    </div>
			</div> 
			</a>
		   </div>
		</li>
	    </volist> 
	</ul>
    </div>
</div>
    
      
<div class="divanli">
	<a href="javascript:void(0);"><div class="fl">点石资讯</div></a>
	<a href="/index.php/mob/news/"><div class="fr">更多<img src="/public/images/tab_right.png" style="margin-top: -4px; width: 24px;"></div></a>
</div>

<div class="divlist_zixun">
    <div>
	<ul style="padding:0;" id="zixun_ul">
	    <volist name="lists_news1" id="vo1">
		<li style="width:100%;border-bottom: solid 1px #EAE6E6;">
		    <a href="/index.php/mob/news/detail/aid/{$vo1.id}" target="_blank" title="{$vo1.dtitle}">
			<div class="li_div1" style="width: 25%; float: left;"> 
				<if condition="$vo1['picpath'] neq ''">
					<img src="{$vo1.picpath}" style="width: 100px; height: 80px;">
				<else/>
					<img src="/public/images/logo_zixunpic.png" style="width: 100px; height: 80px;">
				</if>
			</div>
			<div class="li_div2" style="width: 75%; float: left;padding-left: 10px;">
			    <div style="height: 40px;line-height: 40px;"> 
				<div class="shid2">
				    <div  style="max-width: 170px;overflow: hidden;  max-height: 40px;line-height: 40px;float: left;color: #000;">
					{$vo1.dtitle}</div> 
				    <div style="float: left;color: #000;">| {$vo1.create_time|date='m月d日',###}</div>
				    <div><img src="/public/images/logo_zixun.png" style="width: 40px; float: right; margin-right: 10px;margin-top: 7px;"></div>
				</div>
			    </div>
			    <div>
				<div class="shid1" style="    line-height: 22px; font-size: 14px; max-height: 44px; overflow: hidden;color: #8A8787; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">
				    {$vo1.description}
				</div>
			    </div>
		       </div>
		    </a>
		</li>
	    </volist>
<!--	<li style="width:100%;border-bottom: solid 1px #EAE6E6;">
		    <a href="/news/1423.html" target="_blank" title="点石特权日 悦享幸福家│点石2017年度【消费者特权日】盛大启幕">
			<div class="li_div1" style="width: 25%; float: left;">
			    <img src="/public/images/logo_zixunpic.png" style="width: 100px; height: 80px;">
			</div>
			<div class="li_div2" style="width: 75%; float: left;padding-left: 10px;">
			    <div style="height: 40px;line-height: 40px;"> 
				<div class="shid2">
				    <div  style="max-width: 170px;overflow: hidden;  max-height: 40px;line-height: 40px;float: left;color: #000;">点石特权日 悦享幸福家│点石2017年度【消费者特权日】盛大启幕</div> 
				    <div style="float: left;color: #000;">| 04月14日</div>
				    <div><img src="/public/images/logo_zixun.png" style="width: 40px; float: right; margin-right: 10px;margin-top: 7px;"></div>
				</div>
			    </div>
			    <div>
				<div class="shid1" style="    line-height: 22px; font-size: 14px; max-height: 44px; overflow: hidden;color: #8A8787; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">
				    有一种坚持， 是秉持匠心将品质溶入血液的极致追求; 有一种执着， 是千般打磨万般磨练皆在毫厘之间的精益求精。 时光荏苒十八年，岁月承载了欢笑与荣光，也承载了拼搏与付出。无论是最初真爱筑家的企业文化，还是现在为中国打造千万幸福家的企业使命，都是点
				</div>
			    </div>
		       </div>
		    </a>
		</li>
<li style="width:100%;border-bottom: solid 1px #EAE6E6;">
		    <a href="/news/1412.html" target="_blank" title="点石欧标工程 更多精英首选丨2017【欧标工艺擂台赛】盛大启动">
			<div class="li_div1" style="width: 25%; float: left;">
			    <img src="/public/images/logo_zixunpic.png" style="width: 100px; height: 80px;">
			</div>
			<div class="li_div2" style="width: 75%; float: left;padding-left: 10px;">
			    <div style="height: 40px;line-height: 40px;"> 
				<div class="shid2">
				    <div  style="max-width: 170px;overflow: hidden;  max-height: 40px;line-height: 40px;float: left;color: #000;">点石欧标工程 更多精英首选丨2017【欧标工艺擂台赛】盛大启动</div> 
				    <div style="float: left;color: #000;">| 04月02日</div>
				    <div><img src="/public/images/logo_zixun.png" style="width: 40px; float: right; margin-right: 10px;margin-top: 7px;"></div>
				</div>
			    </div>
			    <div>
				<div class="shid1" style="    line-height: 22px; font-size: 14px; max-height: 44px; overflow: hidden;color: #8A8787; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">
				    所谓匠心，在于对极致的坚持和对初心的坚守，在于技艺，更在于心。工业化大行其道的时代，人们追求速度、效率和捷径，用机器取代技艺，却忽略了事物真正的价值在于用专注的态度和一颗精益求精的心将每一件平凡的事做到极致。 作为湖南家装领导者，18年来，点
				</div>
			    </div>
		       </div>
		    </a>
		</li> -->
	</ul>
    </div>
</div>
    
      
<div class="divanli">
	<a href="javascript:void(0);"><div class="fl">装修知识</div></a>
	<a href="/index.php/mob/news/index/ftype/5"><div class="fr">更多<img src="/public/images/tab_right.png" style="margin-top: -4px; width: 24px;"></div></a>
</div>

<div class="divlist_zhishi">
    <div>
	<ul style="padding:0;" id="zhishi_ul">
	    <volist name="lists_news2" id="vo1"> 
		<li style="width: 100%;border-bottom: solid 1px #EAE6E6;">
		    <div class="li_div" style="height: 50px; line-height: 40px;">
			<a href="/index.php/mob/news/detail/aid/{$vo1.id}" target="_blank" title="{$vo1.dtitle}">
			    <div class="zhishi1" style="float: left;width: 10%;"> 
					<if condition="$vo1['picpath'] neq ''">
						<img src="{$vo1.picpath}" style="width:30px;height:30px;border-radius: 5px;">
					<else/>
						<img src="/public/images/logo_zhishi.png" style="width:30px;height:30px;border-radius: 5px;">
					</if>
			    </div>
			    <div class="zhishi2" style="float: left;width: 90%;">  
				    <div class="div1" style="width:75%;max-height: 40px;text-align: left;float: left;padding-left: 5px;">{$vo1.dtitle}</div>
				    <div class="div2" style="width:25%;text-align: right;float: right;"> {$vo1.create_time|date='Y/m/d',###}</div>
			    </div>
			</a>
		   </div>
		</li>
	    </volist>
<!--	<li style="width: 100%;border-bottom: solid 1px #EAE6E6;">
		    <div class="li_div" style="height: 50px; line-height: 40px;">
			<a href="/news/1423.html" target="_blank" title="点石特权日 悦享幸福家│点石2017年度【消费者特权日】盛大启幕">
			    <div class="zhishi1" style="float: left;width: 10%;">
				<img src="/public/images/logo_zhishi.png" style="width:30px;height:30px;">
			    </div>
			    <div class="zhishi2" style="float: left;width: 90%;">  
				    <div class="div1" style="width:75%;max-height: 40px;text-align: left;float: left;padding-left: 5px;">点石特权日 悦享幸福家│点石2017年度【消费者特权日】盛大启幕</div>
				    <div class="div2" style="width:25%;text-align: right;float: right;"> 2017/04/14</div> 
			    </div>
			</a>
		   </div>
		</li>
<li style="width: 100%;border-bottom: solid 1px #EAE6E6;">
		    <div class="li_div" style="height: 50px; line-height: 40px;">
			<a href="/news/1412.html" target="_blank" title="点石欧标工程 更多精英首选丨2017【欧标工艺擂台赛】盛大启动">
			    <div class="zhishi1" style="float: left;width: 10%;">
				<img src="/public/images/logo_zhishi.png" style="width:30px;height:30px;">
			    </div>
			    <div class="zhishi2" style="float: left;width: 90%;">  
				    <div class="div1" style="width:75%;max-height: 40px;text-align: left;float: left;padding-left: 5px;">点石欧标工程 更多精英首选丨2017【欧标工艺擂台赛】盛大启动</div>
				    <div class="div2" style="width:25%;text-align: right;float: right;"> 2017/04/02</div> 
			    </div>
			</a>
		   </div>
		</li>
<li style="width: 100%;border-bottom: solid 1px #EAE6E6;">
		    <div class="li_div" style="height: 50px; line-height: 40px;">
			<a href="/news/1403.html" target="_blank" title="点石欧标 谁与争锋 | 点石2017【欧标工艺擂台赛】盛大启动">
			    <div class="zhishi1" style="float: left;width: 10%;">
				<img src="/public/images/logo_zhishi.png" style="width:30px;height:30px;">
			    </div>
			    <div class="zhishi2" style="float: left;width: 90%;">  
				    <div class="div1" style="width:75%;max-height: 40px;text-align: left;float: left;padding-left: 5px;">点石欧标 谁与争锋 | 点石2017【欧标工艺擂台赛】盛大启动</div>
				    <div class="div2" style="width:25%;text-align: right;float: right;"> 2017/03/24</div> 
			    </div>
			</a>
		   </div>
		</li> -->
	</ul>
    </div>
</div>
        
    
<div class="divmore" style="display:none;">
	<a href="{$xinxiliu_anli_url}{$tgurl}"><div class="fc">查看更多</div></a> 
</div>

<div id="footer" style="margin:0;margin-bottom: 85px;height:auto;">
    <p style="margin:0;">我的小窝</p>
    <p style="margin:0;">&copy;1998-2018 版权所有</p>
    <p style="margin:0;">备案：湘ICP备11020209号-2</p>
    <p style="margin:0;">24小时免费咨询热线：<a href="tel:4000480731"><span style="font-size: 20px;color: #324f4a;">400-048-0731</span></a></p>
</div>

<style> 
#float_l { display: none; z-index: 9999;position: fixed; left: 0;top:30%; width: 16%;height: auto;overflow: hidden; font-size: 14px;}
#float_l ul{ width:100%; height:auto; overflow:hidden;padding-left: 0; }
#float_l ul li{ float:left; display:inline; margin:0 0px 0 0; }
#float_l ul li a{ display:block; color:#CCC; }
</style>
<script>
    function f_baoming(){
	$("#txt_loupan").focus();
    }
</script>
<div id="float_l" style="display: none;">
    <ul>
	<li style="width: 60px;float: left;">
	    <a href="javascript:f_baoming()">
		<img src="/public/images/float.png" style="width: 100%;height: auto;">
	    </a>
	</li>
    </ul>
</div>

<!--<style>    
#inav1 { display: none; position: fixed; bottom: 0; width: 100%;height: 55px;overflow: hidden; font-size: 14px;}
#inav1 ul{ width:100%; height:55px; overflow:hidden;padding-left: 0; }
#inav1 ul li{ float:left; display:inline; margin:0 0px 0 0; text-align:center; width:50%; line-height:55px;  }
#inav1 ul li a{ display:block; color:#CCC; }
#inav1 ul li a img{height: 55px;}
</style> 
<div id="inav1" style="display: block;">
    <ul>
	<li style="width: 50%;float: left;">
	    <a href="tel:400-048-0731">
		<img src="/public/pyq/baoming_01.jpg" style="width: 100%;"></a></li>
	<li style="width: 50%;float: left;">
	    <a href="http://dasn.com.cn/q/?baiduxinxiliu">
		<img src="/public/pyq/baoming_02.jpg" style="width: 100%;"></a></li>  
    </ul>
</div>

<div id="footerw" class="box">
    <div class="div1"><a href="{$xinxiliu_home_url}{$tgurl}">&nbsp;</a></div>
    <div class="div2">
	<a href="{$xinxiliu_act_url}{$tgurl}">&nbsp;</a>
    </div>
    <div class="div3"> 
	<a href="{$xinxiliu_baojia_url}{$tgurl}">&nbsp;</a>
    </div>
    <div class="div4">
	<a href="tel:{$cust_service_tel}">&nbsp;</a>
    </div>
</div>-->

<?php include ("./Application/Mob/View/default/Common/footer.html"); ?> 

<!--<script src="http://cdnjs.gtimg.com/cdnjs/libs/jquery/1.9.1/jquery.min.js"></script>-->
<script src="/public/js/amazeui.min.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script> 
<script>
//	wx.config({
//		appId: '{$signPackage.appId}',
//		timestamp: {$signPackage.timestamp},
//		nonceStr: '{$signPackage.nonceStr}',
//		signature: '{$signPackage.signature}',
//		jsApiList: ["onMenuShareTimeline","onMenuShareAppMessage"]
//	});
//	wx.ready(function () {
//		wx.onMenuShareTimeline({
//			title: document.title,
//			link: 'http://v.dasn.com.cn/index.php/pyq/',
//			imgUrl: 'http://v.dasn.com.cn/public/dasn.png',
//			success: function(){}
//		});
//		wx.onMenuShareAppMessage({
//			title: document.title,
//			desc: '点石定制家装，更多精英选择……',
//			link: 'http://v.dasn.com.cn/index.php/pyq/',
//			imgUrl: 'http://v.dasn.com.cn/public/dasn1.png',
//			success: function(){}
//		});
//	});
</script>

<script>
//    function show_nav(){ 
//	//alert($("#navt").css("display"));
//	if($("#navt").css("display")=="block"){
//	    $("#navt").css("display","none");
//	}else{
//	    $("#navt").css("display","block");
//	}
//    }
//    function close_nav(){
//	$("#navt").css("display","none");
//    }
    function show_nav(){ 
//	alert($("#guize").css("display"));
	if($("#guize").css("display")=="block"){
	    $("#guize").css("display","none");
	}else{
	    $("#guize").css("display","block");
	}
    }
    function close_nav(){
	$("#guize").css("display","none");
    }
    
    //房屋面积发生变化
    function mianji_chg(){
	var mianji = $("#txt_mianji").val();
	if(!parseInt(mianji)>0){
	    alert("请输入有效面积！");
	    return;
	}
	if(parseInt(mianji)<40){
	    $("#d_shi").val("一室");
	    $("#d_ting").val("一厅");
	    $("#d_chu").val("一厨");
	    $("#d_wei").val("一卫");
	}else if(parseInt(mianji)<70){
	    $("#d_shi").val("二室");
	    $("#d_ting").val("一厅");
	    $("#d_chu").val("一厨");
	    $("#d_wei").val("一卫");
	}else if(parseInt(mianji)<90){
	    $("#d_shi").val("二室");
	    $("#d_ting").val("二厅");
	    $("#d_chu").val("一厨");
	    $("#d_wei").val("一卫");
	}else if(parseInt(mianji)<110){
	    $("#d_shi").val("二室");
	    $("#d_ting").val("二厅");
	    $("#d_chu").val("一厨");
	    $("#d_wei").val("一卫");
	}else if(parseInt(mianji)<140){
	    $("#d_shi").val("三室");
	    $("#d_ting").val("二厅");
	    $("#d_chu").val("一厨");
	    $("#d_wei").val("二卫");
	}else if(parseInt(mianji)<180){
	    $("#d_shi").val("四室");
	    $("#d_ting").val("二厅");
	    $("#d_chu").val("一厨");
	    $("#d_wei").val("二卫");
	}else{
	    $("#d_shi").val("四室以上");
	    $("#d_ting").val("二厅");
	    $("#d_chu").val("一厨");
	    $("#d_wei").val("二卫");
	}
    }
var get_tg ="";
function do_baoming(o,txt_name,txt_tel,txt_loupan,txt_mianji,sourceid){
    var regex_number = /^\d{7}$|^\d{8}$|^\d{11}$|^\d{3,4}(-)?\d{7,8}$/;
	o.click(function () {
		var obj = $(this);
		var _name = txt_name;
		var val_name = $.trim(_name.val());
		if (val_name.length <= 0) { alert("温馨提示：请输入您的真实姓名！"); _name.focus(); _name.select(); return false; }
		var _tel = txt_tel;
		var val_tel = $.trim(_tel.val());
		if (!regex_number.test(val_tel)) { alert("温馨提示：联系电话格式不正确！"); _tel.focus(); _tel.select(); return false; }
		var _loupan = txt_loupan;
		var val_loupan = $.trim(_loupan.val());
//		if (val_loupan.length <= 0) { alert("温馨提示：请输入您房子的楼盘名称！"); _loupan.focus(); _loupan.select(); return false; }
		var _mianji = txt_mianji;
		var val_mianji = $.trim(_mianji.val());
//		if (val_mianji.length <= 0) { alert("温馨提示：请输入您房子的面积！"); _mianji.focus(); _mianji.select(); return false; }
		val_name = encodeURIComponent(val_name);
		val_tel = encodeURIComponent(val_tel);
		val_loupan = encodeURIComponent(val_loupan);
		val_mianji = encodeURIComponent(val_mianji);
		
//		//厅室信息
		var val_shi ="";// $("#d_shi").val();
		var val_ting ="";// $("#d_ting").val();
		var val_chu ="";// $("#d_chu").val();
		var val_wei ="";// $("#d_wei").val();
		
		var val_content = encodeURIComponent("[来源页面："+document.title+"][来自：手机微官网首页报名]");
		
		var tg = get_tg; 
		if(tg!=""){
		     val_content = encodeURIComponent("[来源页面："+document.title+"][来自：手机微官网首页报名]_"+tg);
		} 
		var url = encodeURIComponent(location.href);
		//http://www.idasncomcn.com/index.php/calltel/dooperatemob?name=测试&tel=13975895582&loupan=测试&mianji=99&val_shi=二室&val_ting=二厅&val_chu=一厨&val_wei=一卫&content=预算&url=http://www.baidu.com&sourceid=29
		window.open("http://i.dasn.com.cn/index.php/calltel/dooperate?name=" + val_name 
			+ "&tel=" + val_tel + "&loupan=" + val_loupan + "&mianji=" + val_mianji
			+ "&val_shi=" + val_shi + "&val_ting=" + val_ting + "&val_chu=" + val_chu + "&val_wei=" + val_wei 
			+ "&content=" + val_content + "&url=" + url + "&sourceid=" + sourceid
			);
		_name.val("");
		_tel.val("");
		_loupan.val("");
		_mianji.val("");
		
//		$("#d_shi").val("一室");
//		$("#d_ting").val("一厅");
//		$("#d_chu").val("一厨");
//		$("#d_wei").val("一卫");
		return false;
	});
}
 
function do_baomingrenshu(url,obj) {
	$.ajax({ url: url, cache: false, success: function (html) { obj.html(html); } });
}

//获取案例
function ajax_get_cases(){
    var turl2="http://" + document.domain + "/index.php/mob/index/ajaxGetAnli";  
    $.ajax({url:turl2,
	type : 'POST',
	dataType : "json",
	cache:false,
	data : {
	},
	success:function(result){ 
		    alert(result.code+";turl2:"+turl2+";data:"+result.data.length);
	    if(result.code=='0'){  
	    }else if(result.code=='1'){ 
		    //拼接html字串
		    var shtml ="";
		    for(var item=0;item<result.data.length;item++){ 
			shtml = shtml+ '<li><div class="li_div">';
			shtml = shtml+ '<a href="/index.php/mob/anli/detail/aid/'+result.data[item].id+'.html">';
			shtml = shtml+'   <div><img src="'+result.data[item].picpath+'" alt="'+result.data[item].dtitle+'装修案例"></div>';
			shtml = shtml+'   <div style="margin: 4% 0 2% 0;text-align: center;display: inline-block; width: 100%;">';
			shtml = shtml+'     <span style=" width: 50%;float: left; text-align: center;font-size: 14px;  font-family: 微软雅黑; padding-left: 4px; overflow: hidden;line-height: 22px; max-height: 44px;"> '+result.data[item].mianji+'平/'+result.data[item].fenggename+'</span>';
			shtml = shtml+'     <span style=" width: 50%; float: right; font-size: 14px;  font-family: 微软雅黑; padding-right: 4px;text-align: right; overflow: hidden;line-height: 22px; max-height: 44px;">'+result.data[item].dtitle+'</span>';
			shtml = shtml+'   </div>';
			shtml = shtml+'</a>';
			shtml = shtml+'</div></li>';  
		    }  
		    if(shtml!=""){ 
			$("#case_ul").html(shtml);
		    }
	    }
    }});
} 

//获取设计师
function ajax_get_shejishi(){
    var turl2="http://" + document.domain + "/indep/apildata.php?otype=getshejishi&page=1"; 
    $.ajax({url:turl2,
	type : 'POST',
	dataType : "json",
	cache:false,
	data : {
	},
	success:function(result){ 
//		    alert(result.code+";turl2:"+turl2+";data:"+result.data.length);
	    if(result.code=='0'){  
	    }else if(result.code=='1'){ 
		    //拼接html字串
		    var shtml ="";
		    for(var item=0;item<result.data.length;item++){ 
			shtml = shtml+ '<li><div class="li_div">';
			shtml = shtml+ '<a href="/shejishi/'+result.data[item].filename+'.html">';
			shtml = shtml+'   <div><img src="'+result.data[item].litpic+'" alt="'+result.data[item].title+'设计师">';
			shtml = shtml+'		<div class="shid2"></div>';
			shtml = shtml+'		<div class="shid1">';
			shtml = shtml+'		    <span class="span1">'+result.data[item].title+'</span>';
			shtml = shtml+'		    <span class="span2">'+result.data[item].ename+'</span>';
			shtml = shtml+'		</div>';
			shtml = shtml+'   </div>';
			shtml = shtml+'	</a>';
			shtml = shtml+'</div></li>';  
		    }  
		    if(shtml!=""){ 
			$("#shejishi_ul").html(shtml);
		    }  
	    }
    }});
} 

//获取资讯
function ajax_get_zixun(){
    var turl2="http://" + document.domain + "/indep/apildata.php?otype=getzixun&page=1"; 
    $.ajax({url:turl2,
	type : 'POST',
	dataType : "json",
	cache:false,
	data : {
	},
	success:function(result){ 
		//    alert(result.code+";turl2:"+turl2+";data:"+result.data.length);
	    if(result.code=='0'){  
	    }else if(result.code=='1'){ 
		    //拼接html字串
		    var shtml ="";
		    for(var item=0;item<result.data.length;item++){ 
			var day = result.data[item].day;
			day = day.replace("y","年");
			day = day.replace("m","月");
			day = day.replace("d","日");
			shtml = shtml+ '<li style="width:100%;border-bottom: solid 1px #EAE6E6;">';
			shtml = shtml+ '<a href="/news/'+result.data[item].id+'.html" target="_blank" title="'+result.data[item].title+'">';
			shtml = shtml+ '    <div class="li_div1" style="width: 25%; float: left;">';
			shtml = shtml+ '	<img src="'+result.data[item].litpic+'" style="width: 100px; height: 80px;">';
			shtml = shtml+ '    </div>';
			shtml = shtml+ '    <div class="li_div2" style="width: 75%; float: left;padding-left: 10px;">';
			shtml = shtml+ '	<div style="height: 40px;line-height: 40px;">';
			shtml = shtml+ '	   <div class="shid2"> ';
			shtml = shtml+ '	     <div  style="max-width: 170px;overflow: hidden;  max-height: 40px;line-height: 40px;float: left;color: #000;">'+result.data[item].title+'</div>';
			shtml = shtml+ '	     <div style="float: left;color: #000;">| '+day+'</div>';
			shtml = shtml+'		     <div><img src="/public/images/logo_zixun.png" style="width: 40px; float: right; margin-right: 10px;margin-top: 7px;"></div>';
			shtml = shtml+'		   </div>';
			shtml = shtml+'		 </div>';
			shtml = shtml+'		 <div>';
			shtml = shtml+'		    <div class="shid1" style="    line-height: 22px; font-size: 16px; max-height: 44px; overflow: hidden;color: #8A8787; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">';
			shtml = shtml+'		    '+result.data[item].description+'';
			shtml = shtml+'		    </div>';
			shtml = shtml+'		</div>';
			shtml = shtml+'   </div>';
			shtml = shtml+'	</a>';
			shtml = shtml+'</li>';  
		    }  
		    if(shtml!=""){ 
			$("#zixun_ul").html(shtml);
		    }  
		     
	    }
    }});
}


//获取装修知识
function ajax_get_zhishi(){
    var turl2="http://" + document.domain + "/indep/apildata.php?otype=getzhishi&page=1"; 
    $.ajax({url:turl2,
	type : 'POST',
	dataType : "json",
	cache:false,
	data : {
	},
	success:function(result){ 
//		    alert(result.code+";turl2:"+turl2+";data:"+result.data.length);
	    if(result.code=='0'){  
	    }else if(result.code=='1'){ 
		    //拼接html字串
		    var shtml ="";
		    for(var item=0;item<result.data.length;item++){ 
			shtml = shtml+ '<li style="width: 100%;border-bottom: solid 1px #EAE6E6;">';
			shtml = shtml+ '  <div class="li_div" style="height: 50px; line-height: 40px;">';
			shtml = shtml+ '    <a href="/zhishi/'+result.data[item].id+'.html" target="_blank" title="'+result.data[item].title+'">';
			shtml = shtml+'       <div class="zhishi1" style="float: left;width: 10%;">';
			shtml = shtml+'		<img src="/public/images/logo_zhishi.png" style="width:30px;height:30px;">';
			shtml = shtml+'	      </div>';
			shtml = shtml+'	      <div class="zhishi2" style="float: left;width: 90%;"> ';
			shtml = shtml+'		    <div class="div1" style="width:75%;max-height: 40px;text-align: left;float: left;padding-left: 5px;">'+result.data[item].title+'</div>';
			shtml = shtml+'		    <div class="div2" style="width:25%;text-align: right;float: right;"> '+result.data[item].day+'</div>';
			shtml = shtml+'	      </div>'; 
			shtml = shtml+'	    </a>';
			shtml = shtml+'</div></li>';  
		    }  
		    if(shtml!=""){ 
			$("#zhishi_ul").html(shtml);
		    }   
	    }
    }});
} 

$(function(){  
	do_baoming($("#btn_submit"),$("#txt_name"),$("#txt_tel"),$("#txt_loupan"),$("#txt_mianji"),50); 
	var renshu_url ="http://"+document.domain+"/baomingrenshu.php?sourceid=50";
	do_baomingrenshu(renshu_url,$("#bj_renshu")); 
	
//	$.ajax({ url: "http://"+document.domain+"/clientcity.php", cache: false,dataType : "json", success: function (data) { 
//		if(data.cid!="" && data.cid !=null){
//		  //  $("#citys").val(data.cid);
//		}
//	    } 
//	});
//	appendcitys();
//	mobsite_domain_check();
//	ajax_get_cases();//案列
//	ajax_get_shejishi(); //设计师
//	ajax_get_zixun();//资讯
//	ajax_get_zhishi();//资讯
	
});

</script>
</body>
</html>
<script src="/public/mob/js/footer.js" type="text/javascript"></script>  
<script src="/public/mob/js/count.js" type="text/javascript"></script> 