<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>我的小窝装修案例</title>
<meta name="keywords" content="我的小窝装修案例" />
<meta name="description" content="我的小窝装修案例" />
<link rel="stylesheet" href="__PUBLIC__/home/css/swiper.css"> 

<!--<script src="__PUBLIC__/home/js/mobile.js" type="text/javascript"></script>-->
<link href="__PUBLIC__/home/css/style.css" type="text/css" rel="Stylesheet" />
<script src="__PUBLIC__/home/js/jquery.js" type="text/javascript"></script>
<script src="__PUBLIC__/home/js/jquery.cookies.js" type="text/javascript"></script>
<script src="__PUBLIC__/home/js/common.js" type="text/javascript"></script>

<!--<script src="__PUBLIC__/home/images/jQueryRotate.js" type="text/javascript"></script>
<script src="__PUBLIC__/home/images/swiper.js" type="text/javascript"></script>-->
<style>

</style>

<script type="text/javascript">
$(function () {    

})
/*0 banner1*/
function do_banner1(){ 
    //此类型案例的图层显示介绍文字
    $('#banner1 ul li').hover(function(){  
		 //图片放大
		//先记录上是哪层div高度 
		var dValue=$(this).find("div").height(); 
		 $(this).find("div").css("height",dValue);
		 
		var wValue=1.1 * $(this).find("a img").width(); 
		var hValue=1.1 * $(this).find("a img").height(); 
		$(this).find("a img").animate({width: wValue, 
		height: hValue, 
		left:("-"+(0.1 * $(this).find("a img").width())/2), 
		top:("-"+(0.1 * $(this).find("a img").height())/2)}, 800);  
	},function(){ 
	    //图片缩小
	    $(this).find("a img").animate({width: "100%", 
	    height: "100%", 
	    left:"0px", 
	    top:"0px"}, 600 ); 
	});
}

function getQueryString(name) { 
var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i"); 
var r = window.location.search.substr(1).match(reg); 
if (r != null) return unescape(r[2]); return null; 
} 

</script>

<script type="text/javascript">
    var list_bimg=[];
    var list_imgtitle=[];
    var list_simg=[];
//    list_bimg[0]="/Uploads/Picture/2017-05-25/59262e9805ba7.png";
//    list_bimg[1]="/Uploads/Picture/2017-05-25/592664b220abe.jpg";
//    list_bimg[2]="/Uploads/Picture/2017-05-25/59262e9805ba7.png";
//    list_bimg[3]="/Uploads/Picture/2017-05-25/592664b220abe.jpg";
//    list_simg[0]="/Uploads/Picture/2017-05-25/59262e9805ba7.png";
//    list_simg[1]="/Uploads/Picture/2017-05-25/592664b220abe.jpg";
//    list_simg[2]="/Uploads/Picture/2017-05-25/59262e9805ba7.png";
//    list_simg[3]="/Uploads/Picture/2017-05-25/592664b220abe.jpg";
    $(function(){ 
	var length = "{$imgs_num}";
	if(length>0){
	    var strs = "{$imgs_str}";
	    var arrs = strs.split(";"); 
	    $("#anliimgs .div1 img").attr("src","http://"+document.domain + arrs[0]);
	    for(var item = 0; item <arrs.length; item++){
		list_bimg[item]="http://"+document.domain + arrs[item];
		list_simg[item]="http://"+document.domain + arrs[item]; 
		//alert(list_bimg[item]);
	    }
	}
       if($(".p_article_anli")[0]){do_p_article_anli();}	
    })
</script>
</head>
<body class="p_list_anli">

<?php include ("./Application/Home/View/default/Common/topnav.html"); ?> 
<?php include ("./Application/Home/View/default/Common/header.html"); ?> 
    
    <?php include ("./Application/Home/View/default/Common/hbanner.html"); ?> 
    
<!--<div id="toppic" style="width:100%;height: auto;margin-top: 0px; background-color: #f5f6f6;"> 
    <img src="__PUBLIC__/home/images/banner/banner01.jpg" alt="我的小窝" width="100%"/>
</div>-->

<div>    
    <div id="main" class="main">
        <div id="abox">
            <!--0_position-->
	    <div id="position"><div class="div1"><a href='/'>主页</a> &gt; <a href='/index.php/home/anli/'>装修案例</a> &gt;  <a href='javascript:;'>{$anli_view.dtitle}装修案例</a></div></div>
<!--1_position-->
            <!--<div class="title"><h1>装修案例</h1></div>-->
	    <!--0_calltel-->
	    <div class="query_tell" style="text-align: center;display: none;">
		<div id="calltel2">
		    <div class="sub1"><input type="text"  placeholder="联系电话" id="calltel1_keyword" value="" /></div>		    
		    <div class="sub2"><a href="javascript:;" id="call_a"><div id="call_btn">呼叫我的小窝</div></a></div>
		</div>
	    </div> 
	    <!--1_calltel-->	
	</div>
	
	<div id="abox1" class="anli_abox1">	    
	       <div class="case_details_1 ab ad cf">
                <div class="case_1_l  fl" style="width: 98%;  display: inline-block; padding: 10px 0px 20px 0px;">
                    <div class="fixed_wrap cf">
	                    <div class="xg xg-l" style="display: inline-block;float: left;">
				<h3><a href="/index.php/home/shejishi/" class="ftitle_fw" style="text-decoration:none;">设计师</a></h3>
				<i></i>	 

				<div class="cf desgin Record">
				    <div class="fl">
					<a href="/index.php/home/shejishi/detail/aid/{$shejishi_view.id}" target="_blank" class="tran_scale">
					    <if condition="$shejishi_view['picpath'] neq ''">       
						    <img class="ratio-img" style="max-width: 170px;" data-ratio="1.4" onerror="lod(this)" data-src="{$shejishi_view['picpath']}" title="{$shejishi_view.nickname}大宅设计师" alt="{$shejishi_view.nickname}大宅设计师" src="{$shejishi_view['picpath']}" >
					     <else/>  
						    <img class="ratio-img" style="max-width: 170px;" data-ratio="1.4" onerror="lod(this)" data-src="/uploads/shejishi/shejishi/{$shejishi_view['sno']}.jpg" title="{$shejishi_view.nickname}大宅设计师" alt="{$shejishi_view.nickname}大宅设计师" src="/uploads/shejishi/shejishi/{$shejishi_view['sno']}.jpg" >
					    </if> 	 
					</a>
				    </div>
				    <div class="of">
					<h2>{$shejishi_view.nickname}</h2>
					<a href="/index.php/home/shejishi/detail/aid/{$shejishi_view.id}" target="_blank" class="ck" style="text-decoration:underline;">查看TA的主页</a>
					<p>已有<span class="SingleLine1Num" data-id="1085">{$shejishi_view.yuyuenum}</span>人预约TA<b></b></p>
					<a href="javascript:void(0);" onclick="window.open ('{$url_pc_online}/q/','53kf','height=520,width=700,top=100,left=210');" class="yy">
					    <img src="/Public/home/images/zixun01.png" />在线咨询</a>
					<a href="{$url_pc_online}/q/" class="free">免费申请五项专业服务</a>
				    </div>
				    <div class="tc_free AForm form_box">
					<a href="javascript:;" class="closed1">x</a>
					<div>
					    <h4>专业设计师1对1免费家装指导</h4>

					   <div><input type="text" name="text" placeholder="姓名" class="name required Aname" data-valid="isNonEmpty" data-error="姓名不能为空"></div>
					    <div><input type="text" name="text" placeholder="电话" class="tp required Aphone" data-valid="isNonEmpty||isMobile" data-error="电话不能为空||电话格式不正确"></div>
					    <input type="button" name="button" value="立 即 申 请" class="btn Applicationbtn " data-id="1085" data-name="免费申请设计预案" data-Title="任方远" data-classid="26"/>
					    <p>已有<span class="SingleLine1Num" data-id="1085">18</span>位业主申请了此服务</p>
					</div>
				    </div>
				</div>		                 
			    </div>
			    <div class="xg xg-r" style="display: inline-block; ">
				<h3><a href="/index.php/home/anli/" class="ftitle_fw" style="text-decoration:none;">案例信息</a></h3>
				<i></i>

				<div class="anli_detail_info">
				    <ul>
					<li><div class="title border1">设计风格</div><div class="content border1">{$anli_view.fenggename}</div></li>
					<li><div class="title border1">户型面积</div><div class="content border1">{$anli_view.mianji}平米</div></li>
					<li><div class="title border2" style="border-top: solid 0px #fff;">户型类别</div><div class="content border2" style="border-top: solid 0px #fff;">{$anli_view.jushiname}</div></li>
					<li><div class="title border2">合作方式</div><div class="content border2">{$anli_view.fangshiname}</div></li>
					<li><div class="title border2">所属楼盘</div><div class="content border2">{$anli_view.loupan}</div></li>
					<li><div class="title border2">竣工日期</div><div class="content border2">{$anli_view.edate}</div></li>
					<li><div class="title border2">工期</div><div class="content border2">{$anli_view.gongqi}</div></li>
					<li><div class="title border2">造价</div><div class="content border2">{$anli_view.zaojia}万</div></li>
					<li style="width:98.3%; overflow: hidden;"><div class="title border2">主材配置</div><div class="content border2">{$anli_view.zhucai}</div></li>
				    </ul>
				</div> 

				<div class="cf share_wd" style="color:#9f9583;display:none;"><span class="fl share_wd">分享 ：</span>
				    <div class="share_com of cf">
					<a href="javascript:;" class="wx fl" style="display:none;"></a>
					<div class="bdsharebuttonbox of">
					    <a title="分享到微信" href="#" class="bds_weixin wx_0" data-cmd="weixin"></a>
					    <a title="分享到新浪微博" href="#" class="bds_tsina wb" data-cmd="tsina"></a>
					    <a title="分享到QQ空间" href="#" class="bds_qzone kj" data-cmd="qzone"></a>
					    <a data-cmd="more" class="bds_more shareM" href="#"></a></div>
					<script>window._bd_share_config = { "common": { "bdSnsKey": {}, "bdText": "", "bdMini": "2", "bdMiniList": false, "bdPic": "", "bdStyle": "0", "bdSize": "16" }, "share": {} }; with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];</script>

				    </div>
				</div>
			    </div>
                        </div>
                </div>		
                <div class="case_1_r of p_article_anli" style="border-left: 0px solid #d1d1d1;    width: 93.3%;overflow: hidden; padding-left: 2%; padding-right: 2%;">
                    <div class="ftitle"><h3 class="ftitle_fw">{$anli_view.dtitle}装修案例</h3></div>
                    <div class="edit_con_original"> 
			<div id="anliimgs">
			    <div class="div1" style="height: auto;"><img src="/Uploads/Picture/2017-05-25/59262e9805ba7.png" alt="尚玲珑装修案例" style="width:100%;height:100%;" /></div> 
			    <div class="div2"></div><div class="div3"></div><div class="div4"></div><div class="div5"></div><div class="div6"></div><div class="div7"></div>
			</div>
                    </div>                        
                </div>
<!--                <div class="case_1_r of">
                    <div class="ftitle"><h3 class="ftitle_fw">{$anli_view.dtitle}</h3></div>
                    <div class="edit_con_original"> 
			{$anli_data.content}
			
			<if condition="$imgurls[0] neq '' && $anli_data['content'] eq ''">
			    <div>
				<ul>
				<volist name="imgurls" id="vi">
				    <li style="padding:1%;text-align: center;">
					<img src="{$vi}" style=""></img>
				    </li>
				</volist>
				    
				</ul>				
			    </div>
			</if> 
                    </div>                        
                </div>-->
            </div>
	    
	      <div class="info_more" style="margin-top: 3%;margin-left: -0.5%; width: 102%;"> 
		 <div id="more">
		     <div class="p_div"><a href="javascript:;" style="text-decoration:none;"><div class="p_btn">推荐案例</div>
			     <img style="display:block;" src="__PUBLIC__/home/images/detail_down01.png"></img></a></div>
		 </div>
		 <div id="sheji_anlilist">
		    <ul>
			<volist name="anlis_view" id="vo">
			    <li key="{$vo.id}">
			     <div class="div1">
				 <a href="/index.php/home/anli/detail/aid/{$vo.id}" target="_blank">
				    <if condition="$vo['picpath'] neq ''">    
					    <img src="{$vo.picpath}" width="100%" height="100%" alt="{$vo.title}装修案例" />
				     <else/>   
					    <img src="{$vo.litpic}" width="100%" height="100%" alt="{$vo.title}装修案例" />
				    </if> 
				 </a>
			     </div>
			     <div class="div2">
				 <p class="style1" style="width:94%;">
				     <b><a href="/index.php/home/anli/detail/aid/{$vo.id}" target="_blank">{$vo.dtitle}</a></b>
				     <a href="/q/" style="text-decoration: none;float: right;" target="_blank"><span style="">预约设计<img src="__PUBLIC__/images/right02.png"></img></span></a>
				 </p>
				 <p class="style2">设计师：<b>{$vo.shejishiname}</b></p>
				 <p class="style3">户型：<b>{$vo.jushiname}</b></p>
				 <p class="style4">面积：<b>{$vo.mianji}平米</b></p>
				 <p class="style5">风格：<b>{$vo.fenggename}</b></p>
				 <p class="style6">造价：<b>{$vo.zaojia}万</b></p>
				 <p class="style7">主材配置：<b>{$vo.zhucai}</b></p>
				 <p class="style8" style="display:none;"><b><a href="/index.php/home/anli/detail/aid/{$vo.id}" target="_blank">查看详情<img src="__PUBLIC__/home/images/logo_detail.png"></img></a></b></p>			     
			     </div> 
			    </li>
			</volist>
		    </ul>
		 </div>		
	    </div>  
	    
        </div> 
	
    </div>
    <!--end main-->



   
<?php include ("./Application/Home/View/default/Common/bottomnav.html"); ?> 
<?php include ("./Application/Home/View/default/Common/footer.html"); ?> 
     
</body>
</html>   

<script type="text/javascript">
$(function(){
});
</script>    
   
<script src="__PUBLIC__/home/js/footer.js" type="text/javascript"></script>
<script src="/public/home/js/count.js" type="text/javascript"></script> 