<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>我的小窝【官方网站】_湖南家装领导者</title>
<meta name="description" content="我的小窝，湖南家装领导者。是湖南乃至全国首个确定和树立墅装标准的装饰公司，力求成为大宅装修领域的领导品牌。" />
<meta name="keywords" content="我的小窝,长沙大宅装修,长沙别墅公司,长沙别墅设计,长沙高端装修" /> 
<meta http-equiv="pragma" content="no-cache">
<meta name="viewport" id="viewport" content="width=480,initial-scale=1.0,max-scale=1.0,user-scalable=0" /> 
<link rel="stylesheet" href="/public/css/amazeui.min.css"/>
<link rel="stylesheet" href="/public/mob/css/style.css">
<link rel="stylesheet" href="/public/css/swiper.css"> 
<script src="/public/js/jquery.min.js"></script>
<!--<script src="/public/js/jquery.min.js"></script>-->
<script src="/public/js/swiper.js"></script>
</head>
<style>
.am-form-group .div_r input {height: 40px;  line-height: 40px;padding-left: 15px;   width: 80%;    border: solid 1px #D8D5D5;    border-radius: 1px;}
    </style>

<body>
<?php include ("./Application/Mob/View/default/Common/header.html"); ?>  
        
<div>
    <div>
	<img src="/public/mob/images/baojia.png" style="width:100%;height: 100%;">
    </div>
</div>    
   
<div class="divq" style="display:none;">
	<div>算算我家装修一套这样的房子需要多少钱？</div>
</div>
<div class="area" id="area5">
	    <!--<img src="/public/pyq/zxfg/dizhonghai_05.jpg" width="100%" />--> 	    
	    <div class="am-form-group line0" style="font-family: 微软雅黑; text-align: center; font-weight: 600; color: #00116b; line-height: 30px; height: 30px;font-size: 24px;">装修报名</div>	
	    <div class="am-form-group div3" style="display:block;">
		    <p style="font-family: 微软雅黑;font-size: 17px;">已有<span style="color:#00116b;font-weight: 600;" id="bj_renshu">{$renshu}</span>位业主报名</p>
	    </div>	
	    <!--<div class="am-form-group line1"></div>-->	
	    <div class="am-form-group div6" style="overflow: overlay;">
		<div class="div_l"><label>楼盘名称&nbsp;:</label></div>
		<div class="div_r"><input type="text" class="am-input-lg" id="txt_loupan" placeholder="请输入楼盘名称"></div>
	    </div>
	    <div class="am-form-group div7" style="overflow: overlay;">
		<div class="div_l"><label>房屋面积&nbsp;:</label></div>
		<div class="div_r"><input type="number" class="am-input-lg" id="txt_mianji" placeholder="请输入您的房屋面积" onchange="mianji_chg()">
		&nbsp;<span style="font-size:22px;"> <img src="/public/images/logo_pin.png" style="width:20px;"></span></div>
	    </div>
	    <div class="am-form-group div7" style="overflow: overlay; display:none;">
		<div class="div_l"><label>房屋户型&nbsp;:</label> </div> 
		<div class="div_r huxing">
			<div class="d_shi">
			    <select id="d_shi" name="d_shi">
				<option value="一室">一室</option>
				<option value="二室">二室</option>
				<option value="三室">三室</option>
				<option value="四室">四室</option>
				<option value="四室以上">四室以上</option>
			    </select>
			</div>
			<div class="d_ting">
			    <select id="d_ting" name="d_ting">
				<option value="一厅">一厅</option>
				<option value="二厅">二厅</option>
				<option value="三厅">三厅</option>
				<option value="三厅以上">三厅以上</option> 
			    </select>
			</div>
			<div class="d_chu">
			    <select id="d_chu" name="d_chu">
				<option value="一厨">一厨</option>
				<option value="二厨">二厨</option> 
			    </select>
			</div>
			<div class="d_wei">
			    <select id="d_wei" name="d_wei"> 
				<option value="一卫">一卫</option>
				<option value="二卫">二卫</option>
				<option value="三卫">三卫</option>
				<option value="三卫以上">三卫以上</option> 
			    </select>
			</div> 
		</div>
	    </div>
	    <div class="am-form-group div4" style="overflow: overlay;">
		<div class="div_l"><label>姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名&nbsp;:</label></div>
		<div class="div_r"><input type="text" class="am-input-lg" style="margin-left: 0%;" id="txt_name" placeholder="请输入您的姓名"></div>
	    </div>
	    <div class="am-form-group div5" style="overflow: overlay;">
		<div class="div_l"><label>您的电话&nbsp;:</label></div>
		<div class="div_r"><input type="tel" class="am-input-lg" id="txt_tel" placeholder="请输入您的电话"></div>
	    </div>
	    <div class="am-form-group line0"></div>	
	    <div class="am-form-group div8" style="display:none;">
		    <p><a href="tel:{$cust_service_tel}"><span class="am-icon-phone">{$cust_service_tel}(电话报名)</span></a></p> 
	    </div>
	    <div class="am-form-group line0"></div>	
	    <div class="am-form-group div8" style="display:none;">
		    <p><a href="tel:400-048-0731"><span class="am-icon-phone">400-048-0731(电话报名)</span></a></p>
	    </div>	
	     <div class="am-form-group div3" style="margin-top: -15px;">
		    <p style="font-family: 微软雅黑;    font-size: 15px;    color: #999;">
			为了您的权益，您的隐私将被严格保密</p>
	    </div>	
	    <!--<div class="am-form-group line1"></div>-->	
	    <div class="am-form-group div9">
		<button type="button" id="btn_submit" class="am-btn am-btn-primary am-btn-lg" style="width: 90%; background-color: #00116b; font-size: 22px; height: 46px;border-radius: 5px;">立即报名</button>
	    </div>

</div>
         
    
<div class="divanli">
	<a href="javascript:void(0);"><div class="fl">装修案例</div></a>
	<a href="/index.php/mob/anli"><div class="fr">更多<img src="/public/mob/images/home/tab_right.png" style="margin-top: -4px; width: 24px;"></div></a>
</div>

<div class="divlist">
    <div>
	<ul style="padding:0;" id="case_ul">
	    
	    <volist name="lists_anli1" id="vo">
		<li>
		    <div class="li_div">
			<a href="/index.php/mob/anli/detail/aid/{$vo.id}">
			<div>
			 <if condition="$vo['picpath'] neq ''"> 
				<img src="{$vo.picpath}" width="68" height="50" alt="{$vo.dtitle}装修案例" />
			    <else/>  
				<img src="{$vo.litpic}" width="68" height="50" alt="{$vo.dtitle}装修案例" />
			</if>   
			</div>
			<div style="margin: 4% 0 2% 0;text-align: center;display: inline-block; width: 100%;">
			    <span style=" width: 50%;float: left; text-align: center;font-size: 14px;  font-family: 微软雅黑; padding-left: 4px; overflow: hidden;line-height: 22px; max-height: 44px;">
				{$vo.mianji}平/{$vo.fenggename}</span>
			    <span style=" width: 50%; float: right; font-size: 14px;  font-family: 微软雅黑; padding-right: 4px;text-align: right; overflow: hidden;line-height: 22px; max-height: 44px;">
				{$vo.dtitle}</span>
			</div>
			</a>
		   </div>
		</li>
	    </volist>
<!--		<li>
		    <div class="li_div">
			<a href="/anli/1066.html">
			<div><img src="http://xt.dasn.com.cn/uploads/160324/3-160324151331521.jpg" alt="锦绣世家装修案例"></div>
			<div style="margin: 4% 0 2% 0;text-align: center;display: inline-block; width: 100%;">
			    <span style=" width: 50%;float: left; text-align: center;font-size: 14px;  font-family: 微软雅黑; padding-left: 4px; overflow: hidden;line-height: 22px; max-height: 44px;"> 147平/中式</span>
			    <span style=" width: 50%; float: right; font-size: 14px;  font-family: 微软雅黑; padding-right: 4px;text-align: right; overflow: hidden;line-height: 22px; max-height: 44px;">锦绣世家</span>
			</div>
			</a>
		   </div>
		</li><li>
		    <div class="li_div">
			<a href="/anli/1054.html">
			<div><img src="http://xt.dasn.com.cn/uploads/160313/3-1603131A932447.jpg" alt="燕兴华城装修案例"></div>
			<div style="margin: 4% 0 2% 0;text-align: center;display: inline-block; width: 100%;">
			    <span style=" width: 50%;float: left; text-align: center;font-size: 14px;  font-family: 微软雅黑; padding-left: 4px; overflow: hidden;line-height: 22px; max-height: 44px;"> 140平/中式</span>
			    <span style=" width: 50%; float: right; font-size: 14px;  font-family: 微软雅黑; padding-right: 4px;text-align: right; overflow: hidden;line-height: 22px; max-height: 44px;">燕兴华城</span>
			</div>
			</a>
		   </div>
		</li><li>
		    <div class="li_div">
			<a href="/anli/1034.html">
			<div><img src="http://xt.dasn.com.cn/uploads/160303/3-160303111430525.jpg" alt="尊城水岸装修案例"></div>
			<div style="margin: 4% 0 2% 0;text-align: center;display: inline-block; width: 100%;">
			    <span style=" width: 50%;float: left; text-align: center;font-size: 14px;  font-family: 微软雅黑; padding-left: 4px; overflow: hidden;line-height: 22px; max-height: 44px;"> 120平/中式</span>
			    <span style=" width: 50%; float: right; font-size: 14px;  font-family: 微软雅黑; padding-right: 4px;text-align: right; overflow: hidden;line-height: 22px; max-height: 44px;">尊城水岸</span>
			</div>
			</a>
		   </div>
		</li><li>
		    <div class="li_div">
			<a href="/anli/1032.html">
			<div><img src="http://xt.dasn.com.cn/uploads/160303/3-160303111020230.jpg" alt="励志城邦装修案例"></div>
			<div style="margin: 4% 0 2% 0;text-align: center;display: inline-block; width: 100%;">
			    <span style=" width: 50%;float: left; text-align: center;font-size: 14px;  font-family: 微软雅黑; padding-left: 4px; overflow: hidden;line-height: 22px; max-height: 44px;"> 120平/中式</span>
			    <span style=" width: 50%; float: right; font-size: 14px;  font-family: 微软雅黑; padding-right: 4px;text-align: right; overflow: hidden;line-height: 22px; max-height: 44px;">励志城邦</span>
			</div>
			</a>
		   </div>
		</li>-->
		
	</ul>
    </div>
</div>

  
<div class="divanli" style="display:block;">
	<a href="javascript:void(0);"><div class="fl" style="width:100%;text-align: center;padding-left: 0%;">合作品牌</div></a>
	<!--<a href="http://m.dasn.com.cn/anli/"><div class="fr">更多<img src="/public/images/tab_right.png" style="margin-top: -4px; width: 24px;"></div></a>-->
</div>

<div style="margin-top:5%;display:block;" >
    <div> 
	<img src="/public/mob/images/pinpai.jpg" style="width:100%;height: 100%;">
    </div>
</div>  
  
<!-- 
<div class="area" id="area7"><img src="/zhuantim/baojia/area_07.jpg" width="100%" />
</div>
<div class="area" id="area8"><img src="/zhuantim/baojia/area_08.jpg" width="100%" style="margin-top: -1px;" />
</div>
<div class="area" id="area9"><img src="/zhuantim/baojia/area_09.jpg" width="100%" style="margin-top: -1px;" />
</div>   
<div class="area" id="area10"><img src="/zhuantim/baojia/area_10.jpg" width="100%" style="margin-top: -1px;" />
</div>   
<div class="area" id="area11"><img src="/zhuantim/baojia/area_11.jpg" width="100%" style="margin-top: -1px;" />
</div>   
<div class="area" id="area12"><img src="/zhuantim/baojia/area_12.jpg" width="100%" style="margin-top: -1px;" />
</div>      
    -->
      
     
 
<!--<div class="area" id="area6"><img src="/public/pyq/xinxiliu/xinxiliuh_05.jpg" width="100%" /></div>
<div class="area" id="area7"><img src="/public/pyq/xinxiliu/xinxiliuh_06.jpg" width="100%" /></div>-->

<div class="divtell" style="display: none;">
	<div style="">24小时免费咨询热线：400-048-0731</div>
</div>
<div class="divmore" style="display: none;">
	<a href="#"><div class="fc">查看更多</div></a> 
</div>


<?php include ("./Application/Mob/View/default/Common/version.html"); ?> 

<?php include ("./Application/Mob/View/default/Common/footer.html"); ?>  
      

<style> 
#float_l { display: none; z-index: 9999;position: fixed; left: 0;top:30%; width: 16%;height: auto;overflow: hidden; font-size: 14px;}
#float_l ul{ width:100%; height:auto; overflow:hidden;padding-left: 0; }
#float_l ul li{ float:left; display:inline; margin:0 0px 0 0; }
#float_l ul li a{ display:block; color:#CCC; }
</style>
<script>
    function f_baoming(){
	$("#txt_loupan").focus();
    }
</script>
<div id="float_l" style="display:block;">
    <ul>
	<li style="width: 60px;float: left;">
	    <a href="javascript:f_baoming()">
		<img src="/public/images/float1.png" style="width: 100%;height: auto;">
	    </a>
	</li>
    </ul>
</div>
 

<!--<script src="http://cdnjs.gtimg.com/cdnjs/libs/jquery/1.9.1/jquery.min.js"></script>-->
<script src="http://cdn.amazeui.org/amazeui/2.7.2/js/amazeui.min.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script> 
<script>
//	wx.config({
//		appId: '{$signPackage.appId}',
//		timestamp: {$signPackage.timestamp},
//		nonceStr: '{$signPackage.nonceStr}',
//		signature: '{$signPackage.signature}',
//		jsApiList: ["onMenuShareTimeline","onMenuShareAppMessage"]
//	});
//	wx.ready(function () {
//		wx.onMenuShareTimeline({
//			title: document.title,
//			link: 'http://v.dasn.com.cn/index.php/pyq/',
//			imgUrl: 'http://v.dasn.com.cn/public/dasn.png',
//			success: function(){}
//		});
//		wx.onMenuShareAppMessage({
//			title: document.title,
//			desc: '点石定制家装，更多精英选择……',
//			link: 'http://v.dasn.com.cn/index.php/pyq/',
//			imgUrl: 'http://v.dasn.com.cn/public/dasn1.png',
//			success: function(){}
//		});
//	});
</script>
<script>
//    function show_nav(){ 
//	//alert($("#navt").css("display"));
//	if($("#navt").css("display")=="block"){
//	    $("#navt").css("display","none");
//	}else{
//	    $("#navt").css("display","block");
//	}
//    }
//    function close_nav(){
//	$("#navt").css("display","none");
//    }
    function show_nav(){ 
	//alert($("#navt").css("display"));
	if($("#guize").css("display")=="block"){
	    $("#guize").css("display","none");
	}else{
	    $("#guize").css("display","block");
	}
    }
    function close_nav(){
	$("#guize").css("display","none");
    }
    
    //房屋面积发生变化
    function mianji_chg(){
	var mianji = $("#txt_mianji").val();
	if(!parseInt(mianji)>0){
	    alert("请输入有效面积！");
	    return;
	}
	if(parseInt(mianji)<40){
	    $("#d_shi").val("一室");
	    $("#d_ting").val("一厅");
	    $("#d_chu").val("一厨");
	    $("#d_wei").val("一卫");
	}else if(parseInt(mianji)<70){
	    $("#d_shi").val("二室");
	    $("#d_ting").val("一厅");
	    $("#d_chu").val("一厨");
	    $("#d_wei").val("一卫");
	}else if(parseInt(mianji)<90){
	    $("#d_shi").val("二室");
	    $("#d_ting").val("二厅");
	    $("#d_chu").val("一厨");
	    $("#d_wei").val("一卫");
	}else if(parseInt(mianji)<110){
	    $("#d_shi").val("二室");
	    $("#d_ting").val("二厅");
	    $("#d_chu").val("一厨");
	    $("#d_wei").val("一卫");
	}else if(parseInt(mianji)<140){
	    $("#d_shi").val("三室");
	    $("#d_ting").val("二厅");
	    $("#d_chu").val("一厨");
	    $("#d_wei").val("二卫");
	}else if(parseInt(mianji)<180){
	    $("#d_shi").val("四室");
	    $("#d_ting").val("二厅");
	    $("#d_chu").val("一厨");
	    $("#d_wei").val("二卫");
	}else{
	    $("#d_shi").val("四室以上");
	    $("#d_ting").val("二厅");
	    $("#d_chu").val("一厨");
	    $("#d_wei").val("二卫");
	}
    }
var get_tg ="";
function do_baoming(o,txt_name,txt_tel,txt_loupan,txt_mianji,sourceid){
    var regex_number = /^\d{7}$|^\d{8}$|^\d{11}$|^\d{3,4}(-)?\d{7,8}$/;
	o.click(function () {
		var obj = $(this);
		var _name = txt_name;
		var val_name = $.trim(_name.val());
		if (val_name.length <= 0) { alert("温馨提示：请输入您的真实姓名！"); _name.focus(); _name.select(); return false; }
		var _tel = txt_tel;
		var val_tel = $.trim(_tel.val());
		if (!regex_number.test(val_tel)) { alert("温馨提示：联系电话格式不正确！"); _tel.focus(); _tel.select(); return false; }
		var _loupan = txt_loupan;
		var val_loupan = $.trim(_loupan.val());
		if (val_loupan.length <= 0) { alert("温馨提示：请输入您房子的楼盘名称！"); _loupan.focus(); _loupan.select(); return false; }
		var _mianji = txt_mianji;
		var val_mianji = $.trim(_mianji.val());
		if (val_mianji.length <= 0) { alert("温馨提示：请输入您房子的面积！"); _mianji.focus(); _mianji.select(); return false; }
		val_name = encodeURIComponent(val_name);
		val_tel = encodeURIComponent(val_tel);
		val_loupan = encodeURIComponent(val_loupan);
		val_mianji = encodeURIComponent(val_mianji);
		
//		//厅室信息
		var val_shi = encodeURIComponent($("#d_shi").val());
		var val_ting = encodeURIComponent($("#d_ting").val());
		var val_chu = encodeURIComponent($("#d_chu").val());
		var val_wei = encodeURIComponent($("#d_wei").val());
		
		var val_content = encodeURIComponent("[来源页面："+document.title+"][来自：手机微官网免费报价报名]");
		
		var tg = get_tg; 
		if(tg!=""){
		     val_content = encodeURIComponent("[来源页面："+document.title+"][来自：手机微官网免费报价报名]_"+tg);
		} 
		var url = encodeURIComponent(location.href);
		//http://www.idasncomcn.com/index.php/calltel/dooperatemob?name=测试&tel=13975895582&loupan=测试&mianji=99&val_shi=二室&val_ting=二厅&val_chu=一厨&val_wei=一卫&content=预算&url=http://www.baidu.com&sourceid=29
		window.open("http://i.dasn.com.cn/index.php/calltel/dooperate?name=" + val_name 
			+ "&tel=" + val_tel + "&loupan=" + val_loupan + "&mianji=" + val_mianji
			+ "&val_shi=" + val_shi + "&val_ting=" + val_ting + "&val_chu=" + val_chu + "&val_wei=" + val_wei 
			+ "&content=" + val_content + "&url=" + url + "&sourceid=" + sourceid
			);
		_name.val("");
		_tel.val("");
		_loupan.val("");
		_mianji.val("");
		
//		$("#d_shi").val("一室");
//		$("#d_ting").val("一厅");
//		$("#d_chu").val("一厨");
//		$("#d_wei").val("一卫");
		return false;
	});
}


//获取案例
function ajax_get_cases(){
    var turl2="http://" + document.domain + "/indep/apildata.php?otype=getcase&page=1"; 
    $.ajax({url:turl2,
	type : 'POST',
	dataType : "json",
	cache:false,
	data : {
	},
	success:function(result){ 
//		    alert(result.code+";turl2:"+turl2+";data:"+result.data.length);
	    if(result.code=='0'){  
	    }else if(result.code=='1'){ 
		    //拼接html字串
		    var shtml ="";
		    for(var item=0;item<result.data.length;item++){ 
			shtml = shtml+ '<li><div class="li_div">';
			shtml = shtml+ '<a href="/anli/'+result.data[item].aid+'.html">';
			shtml = shtml+'   <div><img src="'+result.data[item].litpic+'" alt="'+result.data[item].title+'装修案例"></div>';
			shtml = shtml+'   <div style="margin: 4% 0 2% 0;text-align: center;display: inline-block; width: 100%;">';
			shtml = shtml+'     <span style=" width: 50%;float: left; text-align: center;font-size: 14px;  font-family: 微软雅黑; padding-left: 4px; overflow: hidden;line-height: 22px; max-height: 44px;"> '+result.data[item].mianji+'平/'+result.data[item].ename+'</span>';
			shtml = shtml+'     <span style=" width: 50%; float: right; font-size: 14px;  font-family: 微软雅黑; padding-right: 4px;text-align: right; overflow: hidden;line-height: 22px; max-height: 44px;">'+result.data[item].title+'</span>';
			shtml = shtml+'   </div>';
			shtml = shtml+'</a>';
			shtml = shtml+'</div></li>';  
		    }  
		    if(shtml!=""){ 
			$("#case_ul").html(shtml);
		    }
	    }
    }});
} 

$(function(){  
	do_baoming($("#btn_submit"),$("#txt_name"),$("#txt_tel"),$("#txt_loupan"),$("#txt_mianji"),50); 
//	var renshu_url ="http://"+document.domain+"/baomingrenshu.php?sourceid=50";
//	do_baomingrenshu(renshu_url,$("#bj_renshu"));
	
//	appendcitys();
//	mobsite_domain_check(); 
//	ajax_get_cases();//案列
	
//	$.ajax({ url: "http://"+document.domain+"/clientcity.php", cache: false,dataType : "json", success: function (data) { 
//		if(data.cid!="" && data.cid !=null){
//		     //$("#citys").val(data.cid);
//		}
//	    } 
//	});
	 
});
function do_baomingrenshu(url,obj) {
	$.ajax({ url: url, cache: false, success: function (html) { obj.html(html); } });
}  

</script>
</body>
</html>
<script src="/public/mob/js/footer.js" type="text/javascript"></script>  
<script src="/public/mob/js/common.js" type="text/javascript"></script> 
<script src="/public/mob/js/count.js" type="text/javascript"></script> 