<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>点石集团36大新欧标特色工艺_湖南家装领导者</title>
<meta name="description" content="点石集团36大新欧标特色工艺同步升级首发。24小时免费咨询热线：400-048-0731" />
<meta name="keywords" content="长沙大宅装修工艺,长沙我的小窝" />
<!--<meta name="viewport" id="metaviewport" content="width=320,user-scalable=no" />-->
    <meta name="viewport" id="viewport" content="width=480,initial-scale=1.0,max-scale=1.0,user-scalable=0" />
<meta name="MobileOptimized" content="240" />
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<!--<link rel="stylesheet" href="/public/mob/css/style_olddasn.css" />
<link href="/public/mob/css/flexslider_oldyatai.css" rel="stylesheet" />-->
<link rel="stylesheet" href="/public/mob/css/style_dasn.css" />
<script src="/public/js/jquery.js"></script>
<script src="/public/js/jquery.flexslider.js"></script>
<script src="/public/mob/js/common.js" type="text/javascript"></script>
<!--<script src="/public/mob/js/common_oldyatai.js"></script>-->
</head>
<body class="p_zhuanti p_t_18">
<?php include ("./Application/Mob/View/default/Common/header.html"); ?>  
      
    
<div id="guize" style="display: none;width:100%;height:100%;background:rgba(0,0,0,.8);position: fixed; z-index: 99999; top: 0; left: 0;text-align: center; ">
  <!--<p style="margin-top:50%;display:inline-block;font-size:30px;font-family:'微软雅黑';color:#fff;">游戏暂未开始<br>_(:з」∠)_</p>-->  
    <div id="navt" class="navt" style="display:block;width: 100%; height: 100%;">
<!--	<ul>
	    <li class="style1"><a href="{$xinxiliu_anli_url}{$tgurl}">
		    <div class="div1"><img src="/public/images/anli.png"></div>
		    <div class="div2">装修案例</div>	        </a></li>
	    <li class="style2"><a href="{$xinxiliu_baojia_url}{$tgurl}">
		    <div class="div1"><img src="/public/images/baojia.png"></div>
		    <div class="div2">设计团队</div>		</a></li>
	    <li class="style3"><a href="{$xinxiliu_act_url}{$tgurl}">
		    <div class="div1"><img src="/public/images/youhui.png"></div>
		    <div class="div2">施工管理</div>		</a></li>
	    <li class="style4"><a href="{$xinxiliu_wumian_url}{$tgurl}">
		    <div class="div1"><img src="/public/images/wumian.png"></div>
		    <div class="div2">别墅工艺</div>		</a></li>
	    <li class="style5"><a href="{$xinxiliu_gongyi_url}{$tgurl}">
		    <div class="div1"><img src="/public/images/oubiao.png"></div>
		    <div class="div2">欧标工艺</div>		</a></li>
	    <li class="style6"><a href="{$xinxiliu_720_url}{$tgurl2}">
		    <div class="div1"><img src="/public/images/quanjin.png" style="width: 70%;"></div>
		    <div class="div2">720°全景</div>		</a></li>
	    <li class="style7"><a href="{$xinxiliu_about_url}{$tgurl}">
		    <div class="div1"><img src="/public/images/dianshi.png"></div>
		    <div class="div2">关于点石</div>		</a></li> 
	</ul>-->

	<div id="area00" class="area" style="margin: 15% 0 0 0;">
	    <img src="/public/mob/images/home/nav.png" style="width:100%;height: 100%;">
	      <div class="box">
			    <a href="/index.php/mob/anli" class="hidetonbsp"><div class="div10"></div></a>
			    <a href="/index.php/mob/shejishi" class="hidetonbsp"><div class="div20"></div></a>
			    <a href="/index.php/mob/gongdi" class="hidetonbsp"><div class="div30"></div></a> 
			    <a href="/index.php/mob/zhuantim/gongyi" class="hidetonbsp"><div class="div40"></div></a>
	    </div>
	</div>
	<div class="div_close">
	    <div>
		<a href="javascript:close_nav();"><img src="/public/mob/images/home/tab_close.png"></a>
	    </div>	
	</div>
    </div>
</div> 
<script> 
function show_nav(){ 
//	alert($("#guize").css("display"));
    if($("#guize").css("display")=="block"){
	$("#guize").css("display","none");
    }else{
	$("#guize").css("display","block");
    }
}
function close_nav(){
    $("#guize").css("display","none");
}
</script>
<!--主题部分开始-->
<div id="zt_article" style="margin-top:-1px;">
<!--<h1>36大新欧标特色工艺同步升级首发</h1>
<div class="info">安全/环保/耐用/智能</div>-->
<div class="p_m margin-1"><img src="/public/mob/images/banner/gongyi.jpg" width="100%" alt="36大新欧标特色工艺同步升级首发" /></div>
<div class="margin-1"><img src="/zhuantim/gongyi/area_01.jpg" width="100%" /></div>
<div class="margin-1"><img src="/zhuantim/gongyi/area_02.jpg" width="100%" /></div>
<div class="margin-1"><img src="/zhuantim/gongyi/area_03.jpg" width="100%" /></div>
<div class="margin-1"><img src="/zhuantim/gongyi/area_04.jpg" width="100%" /></div>
<div class="margin-1"><img src="/zhuantim/gongyi/area_05.jpg" width="100%" /></div>
<div class="margin-1"><img src="/zhuantim/gongyi/area_06.jpg" width="100%" /></div>
<div class="margin-1"><img src="/zhuantim/gongyi/area_07.jpg" width="100%" /></div>
<div class="margin-1"><img src="/zhuantim/gongyi/area_08.jpg" width="100%" /></div>
<div class="margin-1"><img src="/zhuantim/gongyi/area_09.jpg" width="100%" /></div>
<div class="margin-1"><img src="/zhuantim/gongyi/area_10.jpg" width="100%" /></div>
<div class="margin-1"><img src="/zhuantim/gongyi/area_11.jpg" width="100%" /></div>
<div class="margin-1"><img src="/zhuantim/gongyi/area_12.jpg" width="100%" /></div>
<div class="margin-1"><img src="/zhuantim/gongyi/area_13.jpg" width="100%" /></div>
<div class="margin-1"><img src="/zhuantim/gongyi/area_14.jpg" width="100%" /></div>
<div class="margin-1"><img src="/zhuantim/gongyi/area_15.jpg" width="100%" /></div>
</div><!--主题部分结束-->
<div id="m_gb" class="m_gb">
	<p><a href="tel:400-048-0731"><span>提交留言即可获得我的小窝5免服务</span><br />或者直接<span>点击我</span>进行电话咨询</a></p>
    <table>
        <tr><th style="width:60px;">姓名：</th><td><input type="text" class="m_gb_name" name="name" value="" /></td></tr>
        <tr><th style="width:60px;">手机：</th><td><input type="text" class="m_gb_tel" name="tel" value="" /></td></tr>
        <tr><th style="width:60px;">留言：</th><td><textarea name="content" class="m_gb_content" cols="3" rows="3"></textarea></td></tr>
        <tr><th colspan="2" class="style1"><input type="submit" class="m_gb_submit" value="提 交" /></th></tr>
    </table>
</div>

<?php include ("./Application/Mob/View/default/Common/version.html"); ?> 

<?php include ("./Application/Mob/View/default/Common/footer.html"); ?>  
      


</body>
</html>
<script src="/public/mob/js/footer.js" type="text/javascript"></script>  