<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
        <title>我的小窝【官方网站】_湖南家装领导者</title>
        <meta name="description" content="我的小窝，湖南家装领导者。是湖南乃至全国首个确定和树立墅装标准的装饰公司，力求成为大宅装修领域的领导品牌。" />
        <meta name="keywords" content="我的小窝,长沙大宅装修,长沙别墅公司,长沙别墅设计,长沙高端装修" /> 
        <meta http-equiv="pragma" content="no-cache">
        <meta name="viewport" id="viewport" content="width=480,initial-scale=1.0,max-scale=1.0,user-scalable=0" /> 
        <link rel="stylesheet" href="/public/css/amazeui.min.css"/>
        <link rel="stylesheet" href="/public/mob/css/style.css">
        <link rel="stylesheet" href="/public/css/swiper.css"> 
        <script src="/public/js/jquery.min.js"></script>
        <script src="/public/js/swiper.js"></script>	
	</head>
	<style type="text/css">
		.main{
			font-size: 12px;
			width: 320px;
			margin: 0 auto;
			color: #333;
		}
		.area{
			margin-top: -1px;
		}
	</style>
	<body class="main">
<div id="header" class="box">
       <div class="div1" onclick="location.href='/'"><a href="/">&nbsp;</a></div>
       <div class="div2">
	   &nbsp;
       </div>
       <div class="div3" onclick="location.href='/index.php/mob/other/search/'">
	   <a href="#">&nbsp;</a>
        </div>
       <div class="div4" onclick="show_nav();">
	   <a href="#">&nbsp;</a>
       </div>
</div>
	</body>
</html>
