<style>    
	.li_{
		width: 33.33%;
	    float: left;
	    text-align: center;
	    font-size: 12px;
	    margin-top: 25px;
	}
	.bottomBtn{
		overflow: hidden;
		width: 23%; 
		float: left; 
		text-align: center; 
		margin: 0.85%;
		background: #fff;
		height:100%;
		border-radius: 5px;
	}
	
	.li_yinying:hover{
		box-shadow:0px 0px 2px 3px #000;
		
	}
	.bottom_nav .bottomBtn{color: #666666;border: solid 1px #dedede;}	
	.bottom_nav div .img1{display: block;}
	.bottom_nav div .img2{display: none;}
	.bottom_nav div .p1{margin: 55px 0 0 0; padding-right: 20%; float: right;}
	.bottom_nav div .p2{margin: 50px 0 0 0;line-height: 26px; width: 100%; text-align: left;}
	.bottom_nav div .p3{line-height: 20px; width: 100%; text-align: left;}
	.bottom_nav .current,.bottom_nav .bottomBtn:hover{
	    background: #183078;
	    color:#fff;
	    -moz-box-shadow: 2px 2px 10px #a7a3a3; -webkit-box-shadow: 2px 2px 10px #a7a3a3; box-shadow: 2px 2px 10px #a7a3a3;border: 1px solid #a7a3a3;
	}
	.bottom_nav div.current .img1,.bottom_nav .bottomBtn:hover .img1{display: none;}
	.bottom_nav div.current .img2,.bottom_nav .bottomBtn:hover .img2{display: block;}
	     
    @media screen and (max-width: 1201px) { 
	.bottomBtn{
		/*margin: 0.75%;*/
	}
    } 
    
</style>
  <!--底部--> 
   <div  style="width: 100%;height: auto; margin-top: 0px;background-color: #f5f6f6;padding: 2% 0 2% 0;">
   	 <div class="bottom_nav" style="margin: 0 auto; text-align: center; font-size: 14px; color: #3b3a3b; font-family: '微软雅黑';line-height: 40px; display: block; width:1220px;height: 150px;">
   	 	<div class="bottomBtn"> 
			<div class="div1" style="float: left; width: 41%;height: 100%;" >
			    <p class="p1" style="">
				<img class="img1" src="/Public/home/images/bottom/jiantou_0.png" style="height: 40px;">
				<img class="img2" src="/Public/home/images/bottom/jiantou_1.png" style="height: 40px;">
			    </p>
			</div>
			<div class="div2" style="float:left; width: 58%;height: 100%; font-size: 16px;">
			    <p class="p2" style="">湖南更多精英</p>
			    <p class="p3" style="">家庭的选择</p>
			</div>
   	 	</div>
	     <div class="bottomBtn"> 
			<div class="div1" style="float: left; width: 41%;height: 100%;" >
			    <p class="p1" style="">
				<img class="img1" src="/Public/home/images/bottom/mendian_0.png" style="height: 40px;">
				<img class="img2" src="/Public/home/images/bottom/mendian_1.png" style="height: 40px;">
			    </p>
			</div>
			<div class="div2" style="float:left; width: 58%;height: 100%; font-size: 16px;">
			    <p class="p2" style="">全国60家门店</p>
			    <p class="p3" style="">专注中高端装修20年</p>
			</div>
   	 	</div>
	     <div class="bottomBtn"> 
			<div class="div1" style="float: left; width: 41%;height: 100%;" >
			    <p class="p1" style="">
				<img class="img1" src="/Public/home/images/bottom/gaoduan_0.png" style="height: 40px;">
				<img class="img2" src="/Public/home/images/bottom/gaoduan_1.png" style="height: 40px;">
			    </p>
			</div>
			<div class="div2" style="float:left; width: 58%;height: 100%; font-size: 16px;">
			    <p class="p2" style="">湖南中高端市场</p>
			    <p class="p3" style="">遥遥领先</p>
			</div>
   	 	</div>
	     <div class="bottomBtn"> 
			<div class="div1" style="float: left; width: 41%;height: 100%;" >
			    <p class="p1" style="">
				<img class="img1" src="/Public/home/images/bottom/bi_0.png" style="height: 40px;">
				<img class="img2" src="/Public/home/images/bottom/bi_1.png" style="height: 40px;">
			    </p>
			</div>
			<div class="div2" style="float:left; width: 58%;height: 100%; font-size: 16px;">
			    <p class="p2" style="">70000m²</p>
			    <p class="p3" style="">点石定制工厂</p>
			</div>
   	 	</div>
<!--   	 	<div class="bottomBtn"> 
			<div style="float: left; width: 33.33%;height: 100%; margin: 55px 0 0 0;" >
				<p>
				<img class="img1" src="/Public/images/jiantou.png" style="height: 40px;">
				<img class="img2" src="/Public/images/mendian.png" style="height: 58px;">
			    </p>
			</div>
			<div style="float:left; width: 66.66%;height: 100%;font-size: 12px;">
			    <p style="margin-top: 35px;line-height: 20px; width: 100%; text-align: left;">全国48家门店</p>
			    <p style="line-height: 20px; width: 100%; text-align: left;">专注中高端装修20年</p>
			</div> 
   	 	</div>
		<div class="bottomBtn">
		    <div style="float: left; width: 33.33%;height: 100%;margin-top: 37px;" >
			    <p>
			    <img src="/Public/images/gaoduan.png"/ style="height: 35px;">
			</p>
		    </div>
		    <div style="float:left; width: 66.66%;height: 100%;font-size: 12px;">
			    <p style="margin-top: 35px;line-height: 20px; width: 100%; text-align: left;">湖南中高端市场</p>
			<p style="line-height: 20px; width: 100%; text-align: left;">遥遥领先</p>
		    </div>
   	 	</div>
        <div class="bottomBtn"> 
		    <div style="float: left; width: 33.33%;height: 100%;margin-top: 37px;" >
			    <p>
			    <img src="/Public/images/bi.png"/ style="height: 34px;">
			</p>
		    </div>
		    <div style="float:left; width: 66.66%;height: 100%;font-size: 12px;">
			    <p style="margin-top: 35px;line-height: 20px; width: 100%; text-align: left;">50000m²</p>
			<p style="line-height: 20px; width: 100%; text-align: left;">点石定制工厂</p>
		    </div> 
   	 	</div>-->
   	 </div>
   </div>