<style>
    .footer ul li a div{color: #5a5c5c;}
    .footer ul li a:hover,.footer a:hover{text-decoration: none;color: #183078;}    
    .footer ul li a:hover div,.footer a:hover span{color: #183078;}
</style>
<div id="top-list" class="mainarea" style="width: 100%; background-color: #333333;">
    <div class="footer"   style=" height: auto; margin: 0px auto; background-color: #333333;line-height: 40px;width: 1200px;display: block;"> 
       <div style="margin-top: 2%; height: 320px; text-align: center; font-size: 18px;color: #3b3a3b;line-height: 40px;display: inline-block;padding-bottom: 55px;">
	    <div style="width: 10%; margin: 0 2% 0 0;float: left;text-align: center;">
		    <p style="text-align: left; font-size: 16px;color: #999999;">装修案例</p>
		    <ul style="margin-top: 3%;">
			    <li style="float: left;display: inline-block;width: 100%;text-align: left;">
				    <a href="/index.php/home/anli/" target="_blank">
					    <div style="height: 20px;line-height: 20px; font-size: 14px;">装修案例</div>
				    </a>
			    </li>
			    <li style="float: left;display: inline-block;width: 100%;text-align: left;">
				    <a href="/index.php/home/quanjin/" target="_blank">
					    <div style="height: 20px;line-height: 20px; font-size: 14px;">全景VR设计</div>
				    </a>
			    </li>
		    </ul>
	    </div>


	    <div style="width: 10%; margin: 0 2% 0 0;float: left;text-align: center;">
		   <a href="/index.php/home/shejishi/" target="_blank"></a> <p style="text-align: left; font-size: 16px;color: #999999;">设计团队</p>
		    <ul style="margin-top: 3%;">
			    <li style="float: left;display: inline-block;width: 100%;text-align: left;">
				    <a href="/index.php/home/shejishi/index/rank/1500" target="_blank">
					    <div style="height: 20px;line-height: 20px; font-size: 14px;">首席设计师</div>
				    </a>
			    </li>
			    <li style="float: left;display: inline-block;width: 100%;text-align: left;">
				    <a href="/index.php/home/shejishi/index/rank/1000" target="_blank">
					    <div style="height: 20px;line-height: 20px; font-size: 14px;">高级设计师</div>
				    </a>
			    </li>
			    <li style="float: left;display: inline-block;width: 100%;text-align: left;">
				    <a href="/index.php/home/shejishi/index/rank/500" target="_blank">
					    <div style="height: 20px;line-height: 20px; font-size: 14px;">主任设计师</div>
				    </a>
			    </li>
		    </ul>
	    </div>

	    <div style="width: 10%; margin: 0 2% 0 0;float: left;text-align: center;">
		    <p style="text-align: left; font-size: 16px;color: #999999;">欧标工艺</p>
		    <ul style="margin-top: 3%;">
			    <li style="float: left;display: inline-block;width: 100%;text-align: left;">
				    <a href="/zhuanti/gongyi/" target="_blank">
					    <div style="height: 20px;line-height: 20px; font-size: 14px;">欧标工艺</div>
				    </a>
			    </li>
			    <li style="float: left;display: inline-block;width: 100%;text-align: left;">
				    <a href="/zhuanti/brand/" target="_blank">
					    <div style="height: 20px;line-height: 20px; font-size: 14px;">五免服务</div>
				    </a>
			    </li>
			    <li style="float: left;display: inline-block;width: 100%;text-align: left;">
				    <a href="/zhuanti/gongcheng/" target="_blank">
					    <div style="height: 20px;line-height: 20px;font-size: 14px;">工程保障</div>
				    </a>
			    </li>
		    </ul>
	    </div>

		    <div style="width: 10%; margin: 0 2% 0 0;float: left;text-align: center;">
		    <p style="text-align: left; font-size: 16px;color: #999999;">关于我们</p>
		    <ul style="margin-top: 3%;">
			    <li style="float: left;display: inline-block;width: 100%;text-align: left;">
				    <a href="/zhuanti/about/" target="_blank">
					    <div style="height: 20px;line-height: 20px; font-size: 14px;">品牌介绍</div>
				    </a>
			    </li>
			    <li style="float: left;display: inline-block;width: 100%;text-align: left;">
				    <a href="/index.php/home/article/index/ftype/4" target="_blank">
					    <div style="height: 20px;line-height: 20px;font-size: 14px;">新闻动态</div>
				    </a>
			    </li>
		    </ul>
	    </div>

	       <div style="float: right;margin-top: 0%;width: 15%;height: 200px;margin-top: 10px;">
		    <ul>
			    <li style="width: 100%;height: 40px;font-size: 16px;color: #999999;min-width: 130px;">
				<div><img src="/Public/images/weixinlogo.png" style="height: 22px;margin-top: 0px;    margin-left: -10px;"> 点石微信公众号</div>	   	   			
			    </li>
			    <li style="width: 100%; ">
				    <img style="height: 128px;" src="/Public/images/qrcode_dasn.png"/>
			    </li>
		    </ul>
	       </div>
	       <div style="float: right;margin-top: 0%;width: 15%;height: 200px; margin-right: 45px;margin-top: 10px;">
		    <ul>
			    <li style="width: 100%;height: 40px;font-size: 16px;color: #999999;min-width: 130px;">
				<div><img src="/Public/images/weibologo.png" style="height: 22px;margin-top: 0px;margin-left: -10px;">  点石微博</div>  
			    </li>
			    <li style="width: 100%;">
				<span style="padding: 4px; background: #fff; overflow: overlay; display: inline-block;">
				    <img style="height: 120px;" src="/Public/images/qrcode_dasn_weibo.png"/></span>
			    </li>
		    </ul>
	       </div>


	     <div style="float: left;  margin-top: -90px;width: 100%;height: 50px;">
		    <img src="/Public/images/dasn.png" style="float: left; height: 45px; margin-left: -20px;">
		    <img src="/Public/images/phone.png" style="float: left; height: 45px; " >
		    <div style="float: left;font-family: '微软雅黑';font-size: 30px;color: #5a5c5c;" >
			    400 048 0731
		    </div>
	     </div>

	 <div style="border-top: 0.5px solid #191919; margin-top: 220px;">

	 </div>
	   <style>
	       .footer div a span{color:#5a5c5c;}
	   </style>
	 <div class="footer" style=" width: 100%;height: 75px; ">
	    <div style="margin-top: 20px; width: 100%;height: 20px;font-size: 14px;line-height: 15px; color: #5a5c5c;">
		    友情链接：
		    <a href="http://www.luoxijiaju.com/" target="_blank"><span>罗西家具 |</span></a>
		    <a href="http://siemensgabor.com/" target="_blank"><span>嘉宝橱柜 |</span></a>
		    <a href="http://yatai.dasn.com.cn/" target="_blank"><span>亚太墅装 |</span></a>
		    <a href="http://dazhai.dasn.com.cn/" target="_blank"><span>我的小窝</span></a>
	    </div>
	    <div style="color: #5a5c5c;line-height: 20px;font-size: 14px;margin-top: 20px;padding-bottom: 80px;">
		<p>湖南点石装饰设计工程有限公司 1998-2018版权所有  <a id="gszza" href="javascript:void(0)" style="color:#5a5c5c;">企业统一社会信用代码：9143010279032122XL</a>     备案：<a href="http://www.miibeian.gov.cn/" target="_blank" style="color:#5a5c5c;">湘ICP备11020209号-2</a>
		</p>
	    </div>
	 </div>
       </div>

    </div>
</div>
<style>
.gszz{position:fixed;top:0px;left:30%;margin:0 auto;display:none;width:500px;height:600px;z-index:999;}	
.gszz img{height:100%;width:100%} 
</style>
<script>
    $('#gszza').hover(function(){
	    $('.gszz').css('display','block');
    },function(){
	    $('.gszz').css('display','none');
    })
</script>
<div class="gszz">
	<img src="/Public/images/ds_gs.jpg"/>
</div>