
    <!--banner图-->
 <script src="/Public/home/js/swiper.js" type="text/javascript"></script>
<style>   
    .homeBanner .homeBanneraAbout {
      position: absolute;
      margin: 0 auto;
      border-radius: 6px;
      left: 0;
      right: 0; 
      top:450px;
      height: 125px;
      width: 59%;
      z-index: 10;
      background: rgba(51, 51, 51, 0.9);
      padding: 18px 40px 0;
    }
    .homeBanner .homeBanneraAbout div {
      overflow: hidden;
      color: #fff;
      line-height: 22px;
      margin-bottom: 15px;
    }
    .homeBanner .homeBanneraAbout div h2 {
      float: left;
      font-style: normal;
      font-weight: normal;
      font-size: 22px;
    }
    .homeBanner .homeBanneraAbout div span {
      float: left;
      font-size: 14px;
      background: url(../img/index/banner_1.jpg) no-repeat left center;
      padding-left: 6px;
      margin-left: 9px;
    }
    .homeBanner .homeBanneraAbout input {
      display: block;
      float: left;
      border: none;
      font-size: 14px;
      border-radius: 4px;
      padding: 0 1%;
      height: 50px;
      margin-right: 0.5%;
      font-family: 微软雅黑;
    }
    .homeBanner .homeBanneraAbout input.name {
      width: 30%;
    }
    .homeBanner .homeBanneraAbout input.tel {
      width: 40%;
    }
    .homeBanner .homeBanneraAbout input.button {
      background-color: #183078 !important;
      color: #fff;
      text-align: center;
      font-size: 18px;
      margin-right: 0 !important;
      cursor: pointer;
      width: 25%;
    }
    @media screen and (min-width: 1921px) {
/*      .homeBanner {
	min-height: 822px;
      }
      .homeBanner ul li a {
	background-size: auto 100%!important;
      }*/
    }
</style>

<div class="homeBanner"> 
	    <!--swiper轮播--> 
	    <script>   
		$(function(){ 
		    var mySwiper = new Swiper ('.swiper-container', { 
		      autoplay: 3000,
		      loop: true, 
			// 如果需要分页器
			pagination: '.swiper-pagination',

			// 如果需要前进后退按钮
			  nextButton: '.swiper-button-next',
			  prevButton: '.swiper-button-prev',

			// 如果需要滚动条
	//		  scrollbar: '.swiper-scrollbar',
		    })
	    })
	    </script>
	    <style>
		.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
		    background-image: url(/Public/home/images/logo_pre.png);
		    left: 10%;
		    right: auto;
		}
		.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
		    background-image: url(/Public/home/images/logo_next.png);
		    right: 10%;
		    left: auto;
		}
		.swiper-button-next, .swiper-button-prev {
		       position: absolute;
			top: 50%;
			width: 50px;
			height: 50px;
			margin-top: -22px;
			z-index: 10;
			cursor: pointer;
			-moz-background-size: 27px 44px;
			-webkit-background-size: 27px 44px;
			background-size: 50px 50px;
			background-position: center;
			background-repeat: no-repeat;
			opacity: 0.6;
		}  
	    </style>
	    <script>
		function go_url(url){
		    location.href = url;
		}
	    </script>
    
	    <div class="swiper-container" style="display:block">
		<div class="swiper-wrapper" id="banner_list">
		    <div class="swiper-slide" onclick="go_url('/zhuanti/shejiqushi/')"><a  href="/zhuanti/shejiqushi/" ><div><img alt="First slide" src="/Public/home/images/banner/banner.jpg" style="width:100%;"></div></a></div> 
		    <div class="swiper-slide" onclick="go_url('/zhuanti/brand/')"><a  href="/zhuanti/brand/" ><div><img alt="Third slide" src="/Public/home/images/banner/brand.jpg" style="width:100%;"></div></a></div> 
		    <div class="swiper-slide" onclick="go_url('/zhuanti/gongyi/')"><a  href="/zhuanti/gongyi/" ><div><img alt="Third slide" src="/Public/home/images/banner/gongyi.jpg" style="width:100%;"></div></a></div> 
		</div>
		<!-- 如果需要分页器 -->
		<div class="swiper-pagination" style="padding-left:0%;"></div>

		<!-- 如果需要导航按钮 -->
		<div class="swiper-button-prev"></div>
		<div class="swiper-button-next"></div>

		<!-- 如果需要滚动条 -->
		<!--<div class="swiper-scrollbar"></div>-->
	    </div> 
	    
    <!--参考http://cs.ikongjian.com/-->
    <div class="homeBanneraAbout" style="display: block;">
        <div>
            <h2>免费获取装修报价</h2><span class="places">今日还剩138个名额</span></div>
        <input class="name" type="text" id="txt_name" name="txt_name" placeholder="请输入您的姓名">
        <input class="tel" type="text" id="txt_tel" name="txt_tel" placeholder="输入手机号码，获取免费报价名额">
        <input class="button" type="button" id="btn_submit" value="立即领取">
        <script type="text/javascript">
	    function baomingrenshuh() {
	    //        do_baomingrenshu("/zhuanti/kaimenhong/baomingrenshu.php",$("#area7 .div6,#area42 .div6"));
			$.ajax({ url: "/baomingrenshu.php?today=1", cache: false, success: function (html) { 
			    //obj.html(html);
			    //计算人数
			    var num = html;
			    //alert(num);
			     $(".places").text("今日还剩" + html + "个名额");
			  }});
		}
            $(function () {
		//异步获取报名名额
                baomingrenshuh();
		
		var regex_number=/^\d{7}$|^\d{8}$|^\d{11}$|^\d{3,4}(-)?\d{7,8}$/;
		$("#btn_submit").click(function(){
		    var obj=$(this);
		    var _name=$("#txt_name");
		    var val_name=$.trim(_name.val());
		    if(val_name.length<=0){alert("温馨提示：请输入您的真实姓名！");_name.focus();_name.select();return false;}
		    var _tel=$("#txt_tel");
		    var val_tel=$.trim(_tel.val());
		    if(!regex_number.test(val_tel)){alert("温馨提示：联系电话格式不正确！");_tel.focus();_tel.select();return false;}
		    var _loupan=$("#txt_loupan");
		    var val_loupan=$.trim(_loupan.val());
		    //if(val_loupan.length<=0){alert("温馨提示：请输入您房子的楼盘名称！");_loupan.focus();_loupan.select();return false;}
		    var _mianji=$("#txt_mianji");
		    var val_mianji=$.trim(_mianji.val());
	    //        if(val_mianji.length<=0){alert("温馨提示：请输入您房子的面积！");_mianji.focus();_mianji.select();return false;}
		    val_name=encodeURIComponent(val_name);
		    val_tel=encodeURIComponent(val_tel);
		    val_loupan=encodeURIComponent(val_loupan);
		    val_mianji=encodeURIComponent(val_mianji);
		    var val_content=encodeURIComponent("[来源页面："+document.title+"]");
		    var url=encodeURIComponent(location.href);
		    var sourceid=obj.attr("sourceid");
		    if(!sourceid){sourceid=39;}
		    window.open("http://i.dasn.com.cn/index.php/calltel/dooperate?name="+val_name+"&tel="+val_tel+"&loupan="+val_loupan+"&mianji="+val_mianji+"&content="+val_content+"&url="+url+"&sourceid="+sourceid);
		    _name.val("");
		    _tel.val("");
		    _loupan.val("");
		    _mianji.val("");
		    //setTimeout(baomingrenshu,1000*3);
		    return false;
		});
            });
        </script>
    </div>
</div>   
 <!--banner图结束-->